---
<center><h1>Lesson 2 - Basic intro into pandas</h1></center> 
---
---

<center><h2>Part 4. Work with pandas DataFrames: grouping</h2></center>
---

## Table of Contents

- [Work with pandas DataFrames: grouping](#Work-with-pandas-DataFrames:-grouping)
    * [Splitting of a DataFrame into groups](#Splitting-of-a-DataFrame-into-groups)
    * [Selection and filtering](#Selection-and-filtering)
    * [Aggregation and function application](#Aggregation-and-function-application)
    - [*Exercise 4.1*](#Exercise-4.1)

In [1]:
import pandas as pd
import numpy as np
import random

## Work with pandas DataFrames: grouping

[[back to top]](#Table-of-Contents)

For our future work with the aim of more visual demonstration let’s select a shorted DataFrame from `movies`, for instance, in such way

In [2]:
movies = pd.read_csv('data/movies.csv')

In [3]:
movies.dtypes

user_id           int64
movie_id          int64
rating            int64
timestamp         int64
age             float64
gender           object
occupation       object
zip_code         object
movie_title      object
release_date     object
IMDb_URL         object
unknown           int64
Action            int64
Adventure         int64
Animation         int64
Childrens         int64
Comedy            int64
Crime             int64
Documentary       int64
Drama             int64
Fantasy           int64
Film-Noir         int64
Horror            int64
Musical           int64
Mystery           int64
Romance           int64
Sci-Fi            int64
Thriller          int64
War               int64
Western           int64
dtype: object

In [4]:
# get selected collumns with row indexes within ranges
short_movies = movies[['user_id', 'movie_id', 'rating','timestamp', 'age', 'occupation','movie_title','release_date']] \
                     .loc[list(range(50)) + list(range(100,150)) + list(range(250,500))].reset_index(drop=True)
short_movies.head(10)

,user_id,movie_id,rating,timestamp,age,occupation,movie_title,release_date
0,196,242,3,881250949,49.0,writer,Kolya (1996),1997-01-24
1,305,242,5,886307828,23.0,programmer,Kolya (1996),1997-01-24
2,6,242,4,883268170,42.0,executive,Kolya (1996),1997-01-24
3,234,242,4,891033261,60.0,retired,Kolya (1996),1997-01-24
4,63,242,3,875747190,31.0,marketing,Kolya (1996),1997-01-24
5,181,242,1,878961814,26.0,executive,Kolya (1996),1997-01-24
6,201,242,4,884110598,27.0,writer,Kolya (1996),1997-01-24
7,249,242,5,879571438,25.0,student,Kolya (1996),1997-01-24
8,13,242,2,881515193,47.0,educator,Kolya (1996),1997-01-24
9,279,242,3,877756647,33.0,programmer,Kolya (1996),1997-01-24

So, let’s shortly describe what you will know after reading the blog post:
1.	how to split a DataFrame into a group;
2.	how select a group in the grouped DataFrame and filter the grouping data;
3.	how aggregate grouping data and how apply many function at once to the grouping data;

### Splitting of a DataFrame into groups

[[back to top]](#Table-of-Contents)

pandas DataFrames can be split on any of their axes. Grouping denotes the providence of a mapping of labels to group names. Method `groupby()` is provided in pandas for grouping. The `groupby()` function returns a `GroupBy` object, but essentially describes how the rows of the original data set has been split.

In [5]:
movies_grouped = movies.groupby('movie_id')
movies_grouped

In [6]:
movies_grouped['user_id']

Use `list()` to show what a grouping looks like

In [7]:
short_grouped = short_movies.groupby('movie_id')
list(short_grouped)[:3]

[(242,
      user_id  movie_id  rating  timestamp   age     occupation   movie_title  \
  0       196       242       3  881250949  49.0         writer  Kolya (1996)
  1       305       242       5  886307828  23.0     programmer  Kolya (1996)
  2         6       242       4  883268170  42.0      executive  Kolya (1996)
  3       234       242       4  891033261  60.0        retired  Kolya (1996)
  4        63       242       3  875747190  31.0      marketing  Kolya (1996)
  5       181       242       1  878961814  26.0      executive  Kolya (1996)
  6       201       242       4  884110598  27.0         writer  Kolya (1996)
  7       249       242       5  879571438  25.0        student  Kolya (1996)
  8        13       242       2  881515193  47.0       educator  Kolya (1996)
  9       279       242       3  877756647  33.0     programmer  Kolya (1996)
  10      145       242       5  875269755  31.0  entertainment  Kolya (1996)
  11       90       242       4  891382267  60.0       educator  Kolya (1996)
  12      271       242       4  885844495  51.0       engineer  Kolya (1996)
  13       18       242       5  880129305  35.0          other  Kolya (1996)
  14        1       242       5  889751633   NaN            NaN  Kolya (1996)
  15      207       242       4  890793823  39.0      marketing  Kolya (1996)
  16       14       242       4  876964570  45.0      scientist  Kolya (1996)
  17      113       242       2  875075887  47.0      executive  Kolya (1996)
  18      123       242       5  879809053   NaN         artist  Kolya (1996)
  19      296       242       4  884196057  43.0  administrator  Kolya (1996)
  20      154       242       3  879138235  25.0        student  Kolya (1996)
  21      270       242       5  876953744  18.0        student  Kolya (1996)
  22      240       242       5  885775683  23.0       educator  Kolya (1996)
  23      144       242       4  888103444  53.0            NaN  Kolya (1996)
  24       21       242       3  874951617   NaN         writer  Kolya (1996)
  25      239       242       5  889178512  39.0            NaN  Kolya (1996)
  26      111       242       4  891679901  57.0            NaN  Kolya (1996)
  27      129       242       4  883243972  36.0      marketing  Kolya (1996)
  28      131       242       5  883681723  59.0  administrator  Kolya (1996)
  29      226       242       5  883888671  28.0        student  Kolya (1996)
  ..      ...       ...     ...        ...   ...            ...           ...
  37      206       242       3  888180049  14.0        student  Kolya (1996)
  38       35       242       2  875459166  20.0      homemaker  Kolya (1996)
  39       34       242       5  888601628  38.0  administrator  Kolya (1996)
  40      204       242       5  892388935  52.0      librarian  Kolya (1996)
  41       30       242       5  885941156   7.0        student  Kolya (1996)
  42      209       242       4  883589606  33.0       educator  Kolya (1996)
  43        9       242       4  886958715  29.0        student  Kolya (1996)
  44       12       242       5  879960826  28.0          other  Kolya (1996)
  45       40       242       4  889041330  38.0      scientist  Kolya (1996)
  46      331       242       4  877196089  33.0  entertainment  Kolya (1996)
  47       86       242       4  879569486  26.0  administrator  Kolya (1996)
  48      139       242       3  879537876  20.0        student  Kolya (1996)
  49      309       242       4  877370319  40.0            NaN  Kolya (1996)
  50      735       242       5  876697561  29.0     healthcare  Kolya (1996)
  51      758       242       3  880672230  27.0        student  Kolya (1996)
  52      753       242       4  891399477   NaN       salesman  Kolya (1996)
  53      767       242       4  891462614  70.0       engineer  Kolya (1996)
  54      771       242       4  880659235  26.0        student  Kolya (1996)
  55      765       242       5  880345862  31.0        student  Kolya (1996)
  56      794       242       5  891034156  32.0            NaN  Kolya (1996)
  57      803       242       5  880054592  70.0  administrator  Kolya (1996)
  58      845       242       4  885409493  64.0         doctor  Kolya (1996)
  59      863       242       4  889289570  17.0        student  Kolya (1996)
  60      861       242       5  881274504  38.0            NaN  Kolya (1996)
  61      871       242       3  888192858  31.0      executive  Kolya (1996)
  62      866       242       3  891221165  45.0          other  Kolya (1996)
  63      869       242       2  884490097  30.0        student  Kolya (1996)
  64      894       242       4  879896041  47.0       educator  Kolya (1996)
  65      898       242       4  888294441  23.0      homemaker  Kolya (1996)
  66      937       242       3  876762200  48.0            NaN  Kolya (1996)

     release_date
  0    1997-01-24
  1    1997-01-24
  2    1997-01-24
  3    1997-01-24
  4    1997-01-24
  5    1997-01-24
  6    1997-01-24
  7    1997-01-24
  8    1997-01-24
  9    1997-01-24
  10   1997-01-24
  11   1997-01-24
  12   1997-01-24
  13   1997-01-24
  14   1997-01-24
  15   1997-01-24
  16   1997-01-24
  17   1997-01-24
  18   1997-01-24
  19   1997-01-24
  20   1997-01-24
  21   1997-01-24
  22   1997-01-24
  23   1997-01-24
  24   1997-01-24
  25   1997-01-24
  26   1997-01-24
  27   1997-01-24
  28   1997-01-24
  29   1997-01-24
  ..          ...
  37   1997-01-24
  38   1997-01-24
  39   1997-01-24
  40   1997-01-24
  41   1997-01-24
  42   1997-01-24
  43   1997-01-24
  44   1997-01-24
  45   1997-01-24
  46   1997-01-24
  47   1997-01-24
  48   1997-01-24
  49   1997-01-24
  50   1997-01-24
  51   1997-01-24
  52   1997-01-24
  53   1997-01-24
  54   1997-01-24
  55   1997-01-24
  56   1997-01-24
  57   1997-01-24
  58   1997-01-24
  59   1997-01-24
  60   1997-01-24
  61   1997-01-24
  62   1997-01-24
  63   1997-01-24
  64   1997-01-24
  65   1997-01-24
  66   1997-01-24

  [67 rows x 8 columns]),
 (251,      user_id  movie_id  rating  timestamp   age     occupation  \
  259      196       251       3  881251274  49.0         writer
  260      305       251       5  886321764  23.0     programmer
  261      286       251       5  876521678  27.0        student
  262      303       251       4  879544533  19.0        student
  263      299       251       5  877877434  29.0         doctor
  264       63       251       4  875747514  31.0      marketing
  265      181       251       1  878962052  26.0      executive
  266      293       251       4  888904734  24.0         writer
  267        1       251       4  875071843  24.0     technician
  268       15       251       2  879455541  49.0       educator
  269      296       251       5  884196523  43.0  administrator
  270      270       251       5  876954752  18.0        student
  271      144       251       4  888103929  53.0     programmer
  272      131       251       5  883681723  59.0  administrator
  273       79       251       5  891271545  39.0  administrator
  274        2       251       5  888552084  53.0          other
  275      310       251       5  879436035  37.0       educator
  276      209       251       5  883417810  33.0       educator
  277      247       251       4  893081395  28.0       engineer
  278      132       251       4  891278996  24.0          other
  279      342       251       5  875318267  25.0          other
  280      344       251       5  889814518  30.0      librarian
  281      345       251       5  884994119  28.0      librarian
  282      354       251       5  891216691  29.0            NaN
  283      360       251       5  880354315  51.0          other
  284      379       251       5  885063301  44.0     programmer
  285      385       251       2  879440098  36.0         writer
  286      416       251       5  893213405  20.0            NaN
  287      420       251       5  891357070  53.0       educator
  288      449       251       3  879958603  23.0      librarian
  289      444       251       5  890247385  51.0         lawyer
  290      468       251       4  875280180  28.0       engineer
  291      486       251       5  879874582   NaN       educator
  292      498       251       3  881954219  26.0         writer
  293      499       251       5  882996735  42.0     programmer
  294      532       251       4  888636374  20.0        student
  295      592       251       5  882607955  18.0        student
  296      655       251       3  888984417  50.0     healthcare
  297      707       251       5  880059647  56.0      librarian
  298      756       251       4  875129238  30.0           none
  299      771       251       5  880660087  26.0        student
  300      773       251       3  888538573  20.0        student
  301      782       251       3  891500109  21.0         artist
  302      844       251       4  877381484  22.0       engineer
  303      883       251       5  891692657  49.0      librarian
  304      936       251       4  886832134  24.0          other

                  movie_title release_date
  259  Shall We Dance? (1996)   1997-07-11
  260  Shall We Dance? (1996)   1997-07-11
  261  Shall We Dance? (1996)   1997-07-11
  262  Shall We Dance? (1996)   1997-07-11
  263  Shall We Dance? (1996)   1997-07-11
  264  Shall We Dance? (1996)   1997-07-11
  265  Shall We Dance? (1996)   1997-07-11
  266  Shall We Dance? (1996)   1997-07-11
  267  Shall We Dance? (1996)   1997-07-11
  268  Shall We Dance? (1996)   1997-07-11
  269  Shall We Dance? (1996)   1997-07-11
  270  Shall We Dance? (1996)   1997-07-11
  271  Shall We Dance? (1996)   1997-07-11
  272  Shall We Dance? (1996)   1997-07-11
  273  Shall We Dance? (1996)   1997-07-11
  274  Shall We Dance? (1996)   1997-07-11
  275  Shall We Dance? (1996)   1997-07-11
  276  Shall We Dance? (1996)   1997-07-11
  277  Shall We Dance? (1996)   1997-07-11
  278  Shall We Dance? (1996)   1997-07-11
  279  Shall We Dance? (1996)   1997-07-11
  280  Shall We Dance? (1996)   1997-07-11
  281  Shall We Dance? (1996)   1997-07-11
  282  Shall We Dance? (1996)   1997-07-11
  283  Shall We Dance? (1996)   1997-07-11
  284  Shall We Dance? (1996)   1997-07-11
  285  Shall We Dance? (1996)   1997-07-11
  286  Shall We Dance? (1996)   1997-07-11
  287  Shall We Dance? (1996)   1997-07-11
  288  Shall We Dance? (1996)   1997-07-11
  289  Shall We Dance? (1996)   1997-07-11
  290  Shall We Dance? (1996)   1997-07-11
  291  Shall We Dance? (1996)   1997-07-11
  292  Shall We Dance? (1996)   1997-07-11
  293  Shall We Dance? (1996)   1997-07-11
  294  Shall We Dance? (1996)   1997-07-11
  295  Shall We Dance? (1996)   1997-07-11
  296  Shall We Dance? (1996)   1997-07-11
  297  Shall We Dance? (1996)   1997-07-11
  298  Shall We Dance? (1996)   1997-07-11
  299  Shall We Dance? (1996)   1997-07-11
  300  Shall We Dance? (1996)   1997-07-11
  301  Shall We Dance? (1996)   1997-07-11
  302  Shall We Dance? (1996)   1997-07-11
  303  Shall We Dance? (1996)   1997-07-11
  304  Shall We Dance? (1996)   1997-07-11  ),
 (381,      user_id  movie_id  rating  timestamp   age     occupation  \
  159      196       381       4  881251728  49.0         writer
  160      244       381       4  880604077   NaN     technician
  161      286       381       5  877532965  27.0        student
  162      303       381       4  879467574  19.0        student
  163      234       381       3  892335739   NaN        retired
  164      167       381       5  892738212  37.0          other
  165      299       381       3  889502198  29.0         doctor
  166       95       381       4  880571678  31.0  administrator
  167      201       381       3  884111986  27.0         writer
  168       59       381       5  888205659  49.0       educator
  169      189       381       3  893277551  32.0         artist
  170      271       381       3  885849536  51.0       engineer
  171      198       381       3  884208273  21.0        student
  172       58       381       4  890321652  27.0     programmer
  173       94       381       4  886008764  26.0        student
  174      128       381       3  879969033  24.0      marketing
  175      264       381       4  886123596  36.0         writer
  176      174       381       5  886513706  30.0            NaN
  177      268       381       3  875309344  24.0       engineer
  178        5       381       1  875636540  33.0          other
  179       18       381       4  880131474  35.0          other
  180      256       381       5  882165135  35.0           none
  181      151       381       5  879528754  38.0  administrator
  182      295       381       5  879518528  31.0       educator
  183      233       381       4  877665125  38.0       engineer
  184       23       381       4  874787350  30.0         artist
  185      184       381       4  889909962  37.0      librarian
  186       64       381       4  879365491  32.0       educator
  187      257       381       5  880496690  17.0        student
  188      280       381       3  891700925  30.0      librarian
  ..       ...       ...     ...        ...   ...            ...
  229      666       381       3  880139349  44.0  administrator
  230      684       381       2  878762033  28.0        student
  231      704       381       3  891397713  51.0      librarian
  232      707       381       3  886286457  56.0      librarian
  233      711       381       5  879994749  22.0        student
  234      716       381       4  879795644  36.0  administrator
  235      751       381       1  889134419  24.0          other
  236      771       381       3  880659970  26.0        student
  237      786       381       3  882843397  36.0       engineer
  238      796       381       3  893047208  32.0         writer
  239      795       381       2  883774317  30.0     programmer
  240      807       381       2  892530004  41.0     healthcare
  241      819       381       4  884105841  59.0  administrator
  242      828       381       3  891036568  28.0      librarian
  243      833       381       4  875134016  34.0         writer
  244      846       381       4  883950311  27.0         lawyer
  245      859       381       4  885776352  18.0          other
  246      860       381       3  885990998  70.0        retired
  247      861       381       4  881274780  38.0        student
  248      870       381       3  889409590  22.0        student
  249      877       381       4  882677345  30.0          other
  250      880       381       4  880174808  13.0        student
  251      884       381       5  876859751  44.0       engineer
  252      886       381       2  876032308  20.0        student
  253      889       381       4  880180784  24.0            NaN
  254      894       381       3  882404430  47.0       educator
  255      916       381       3  880845738  27.0       engineer
  256      911       381       5  892839846  37.0         writer
  257      914       381       3  887122325  44.0          other
  258      918       381       5  891988123  40.0      scientist

                   movie_title release_date
  159  Muriel's Wedding (1994)   1994-01-01
  160  Muriel's Wedding (1994)   1994-01-01
  161  Muriel's Wedding (1994)   1994-01-01
  162  Muriel's Wedding (1994)   1994-01-01
  163  Muriel's Wedding (1994)   1994-01-01
  164  Muriel's Wedding (1994)   1994-01-01
  165  Muriel's Wedding (1994)   1994-01-01
  166  Muriel's Wedding (1994)   1994-01-01
  167  Muriel's Wedding (1994)   1994-01-01
  168  Muriel's Wedding (1994)   1994-01-01
  169  Muriel's Wedding (1994)   1994-01-01
  170  Muriel's Wedding (1994)   1994-01-01
  171  Muriel's Wedding (1994)   1994-01-01
  172  Muriel's Wedding (1994)   1994-01-01
  173  Muriel's Wedding (1994)   1994-01-01
  174  Muriel's Wedding (1994)   1994-01-01
  175  Muriel's Wedding (1994)   1994-01-01
  176  Muriel's Wedding (1994)   1994-01-01
  177  Muriel's Wedding (1994)   1994-01-01
  178  Muriel's Wedding (1994)   1994-01-01
  179  Muriel's Wedding (1994)   1994-01-01
  180  Muriel's Wedding (1994)   1994-01-01
  181  Muriel's Wedding (1994)   1994-01-01
  182  Muriel's Wedding (1994)   1994-01-01
  183  Muriel's Wedding (1994)   1994-01-01
  184  Muriel's Wedding (1994)   1994-01-01
  185  Muriel's Wedding (1994)   1994-01-01
  186  Muriel's Wedding (1994)   1994-01-01
  187  Muriel's Wedding (1994)   1994-01-01
  188  Muriel's Wedding (1994)   1994-01-01
  ..                       ...          ...
  229  Muriel's Wedding (1994)   1994-01-01
  230  Muriel's Wedding (1994)   1994-01-01
  231  Muriel's Wedding (1994)   1994-01-01
  232  Muriel's Wedding (1994)   1994-01-01
  233  Muriel's Wedding (1994)   1994-01-01
  234  Muriel's Wedding (1994)   1994-01-01
  235  Muriel's Wedding (1994)   1994-01-01
  236  Muriel's Wedding (1994)   1994-01-01
  237  Muriel's Wedding (1994)   1994-01-01
  238  Muriel's Wedding (1994)   1994-01-01
  239  Muriel's Wedding (1994)   1994-01-01
  240  Muriel's Wedding (1994)   1994-01-01
  241  Muriel's Wedding (1994)   1994-01-01
  242  Muriel's Wedding (1994)   1994-01-01
  243  Muriel's Wedding (1994)   1994-01-01
  244  Muriel's Wedding (1994)   1994-01-01
  245  Muriel's Wedding (1994)   1994-01-01
  246  Muriel's Wedding (1994)   1994-01-01
  247  Muriel's Wedding (1994)   1994-01-01
  248  Muriel's Wedding (1994)   1994-01-01
  249  Muriel's Wedding (1994)   1994-01-01
  250  Muriel's Wedding (1994)   1994-01-01
  251  Muriel's Wedding (1994)   1994-01-01
  252  Muriel's Wedding (1994)   1994-01-01
  253  Muriel's Wedding (1994)   1994-01-01
  254  Muriel's Wedding (1994)   1994-01-01
  255  Muriel's Wedding (1994)   1994-01-01
  256  Muriel's Wedding (1994)   1994-01-01
  257  Muriel's Wedding (1994)   1994-01-01
  258  Muriel's Wedding (1994)   1994-01-01

  [100 rows x 8 columns])]

As it can be easily seen, the `GroupBy` object is a dictionary whose keys are the computed unique groups and corresponding values being the axis labels belonging to each group.

In [8]:
for key, value in list(short_grouped)[:3]:
# if you want to see more values uncomment row below and comment the previous row
#for key, value in short_grouped:
    print key
    print value

242
    user_id  movie_id  rating  timestamp   age     occupation   movie_title  \
0       196       242       3  881250949  49.0         writer  Kolya (1996)
1       305       242       5  886307828  23.0     programmer  Kolya (1996)
2         6       242       4  883268170  42.0      executive  Kolya (1996)
3       234       242       4  891033261  60.0        retired  Kolya (1996)
4        63       242       3  875747190  31.0      marketing  Kolya (1996)
5       181       242       1  878961814  26.0      executive  Kolya (1996)
6       201       242       4  884110598  27.0         writer  Kolya (1996)
7       249       242       5  879571438  25.0        student  Kolya (1996)
8        13       242       2  881515193  47.0       educator  Kolya (1996)
9       279       242       3  877756647  33.0     programmer  Kolya (1996)
10      145       242       5  875269755  31.0  entertainment  Kolya (1996)
11       90       242       4  891382267  60.0       educator  Kolya (1996)
12      271       242       4  885844495  51.0       engineer  Kolya (1996)
13       18       242       5  880129305  35.0          other  Kolya (1996)
14        1       242       5  889751633   NaN            NaN  Kolya (1996)
15      207       242       4  890793823  39.0      marketing  Kolya (1996)
16       14       242       4  876964570  45.0      scientist  Kolya (1996)
17      113       242       2  875075887  47.0      executive  Kolya (1996)
18      123       242       5  879809053   NaN         artist  Kolya (1996)
19      296       242       4  884196057  43.0  administrator  Kolya (1996)
20      154       242       3  879138235  25.0        student  Kolya (1996)
21      270       242       5  876953744  18.0        student  Kolya (1996)
22      240       242       5  885775683  23.0       educator  Kolya (1996)
23      144       242       4  888103444  53.0            NaN  Kolya (1996)
24       21       242       3  874951617   NaN         writer  Kolya (1996)
25      239       242       5  889178512  39.0            NaN  Kolya (1996)
26      111       242       4  891679901  57.0            NaN  Kolya (1996)
27      129       242       4  883243972  36.0      marketing  Kolya (1996)
28      131       242       5  883681723  59.0  administrator  Kolya (1996)
29      226       242       5  883888671  28.0        student  Kolya (1996)
..      ...       ...     ...        ...   ...            ...           ...
37      206       242       3  888180049  14.0        student  Kolya (1996)
38       35       242       2  875459166  20.0      homemaker  Kolya (1996)
39       34       242       5  888601628  38.0  administrator  Kolya (1996)
40      204       242       5  892388935  52.0      librarian  Kolya (1996)
41       30       242       5  885941156   7.0        student  Kolya (1996)
42      209       242       4  883589606  33.0       educator  Kolya (1996)
43        9       242       4  886958715  29.0        student  Kolya (1996)
44       12       242       5  879960826  28.0          other  Kolya (1996)
45       40       242       4  889041330  38.0      scientist  Kolya (1996)
46      331       242       4  877196089  33.0  entertainment  Kolya (1996)
47       86       242       4  879569486  26.0  administrator  Kolya (1996)
48      139       242       3  879537876  20.0        student  Kolya (1996)
49      309       242       4  877370319  40.0            NaN  Kolya (1996)
50      735       242       5  876697561  29.0     healthcare  Kolya (1996)
51      758       242       3  880672230  27.0        student  Kolya (1996)
52      753       242       4  891399477   NaN       salesman  Kolya (1996)
53      767       242       4  891462614  70.0       engineer  Kolya (1996)
54      771       242       4  880659235  26.0        student  Kolya (1996)
55      765       242       5  880345862  31.0        student  Kolya (1996)
56      794       242       5  891034156  32.0            NaN  Kolya (1996)
57      803       242       5  880054592  70.0  administrator  Kolya (1996)
58      845       242       4  885409493  64.0         doctor  Kolya (1996)
59      863       242       4  889289570  17.0        student  Kolya (1996)
60      861       242       5  881274504  38.0            NaN  Kolya (1996)
61      871       242       3  888192858  31.0      executive  Kolya (1996)
62      866       242       3  891221165  45.0          other  Kolya (1996)
63      869       242       2  884490097  30.0        student  Kolya (1996)
64      894       242       4  879896041  47.0       educator  Kolya (1996)
65      898       242       4  888294441  23.0      homemaker  Kolya (1996)
66      937       242       3  876762200  48.0            NaN  Kolya (1996)

   release_date
0    1997-01-24
1    1997-01-24
2    1997-01-24
3    1997-01-24
4    1997-01-24
5    1997-01-24
6    1997-01-24
7    1997-01-24
8    1997-01-24
9    1997-01-24
10   1997-01-24
11   1997-01-24
12   1997-01-24
13   1997-01-24
14   1997-01-24
15   1997-01-24
16   1997-01-24
17   1997-01-24
18   1997-01-24
19   1997-01-24
20   1997-01-24
21   1997-01-24
22   1997-01-24
23   1997-01-24
24   1997-01-24
25   1997-01-24
26   1997-01-24
27   1997-01-24
28   1997-01-24
29   1997-01-24
..          ...
37   1997-01-24
38   1997-01-24
39   1997-01-24
40   1997-01-24
41   1997-01-24
42   1997-01-24
43   1997-01-24
44   1997-01-24
45   1997-01-24
46   1997-01-24
47   1997-01-24
48   1997-01-24
49   1997-01-24
50   1997-01-24
51   1997-01-24
52   1997-01-24
53   1997-01-24
54   1997-01-24
55   1997-01-24
56   1997-01-24
57   1997-01-24
58   1997-01-24
59   1997-01-24
60   1997-01-24
61   1997-01-24
62   1997-01-24
63   1997-01-24
64   1997-01-24
65   1997-01-24
66   1997-01-24

[67 rows x 8 columns]
251
     user_id  movie_id  rating  timestamp   age     occupation  \
259      196       251       3  881251274  49.0         writer
260      305       251       5  886321764  23.0     programmer
261      286       251       5  876521678  27.0        student
262      303       251       4  879544533  19.0        student
263      299       251       5  877877434  29.0         doctor
264       63       251       4  875747514  31.0      marketing
265      181       251       1  878962052  26.0      executive
266      293       251       4  888904734  24.0         writer
267        1       251       4  875071843  24.0     technician
268       15       251       2  879455541  49.0       educator
269      296       251       5  884196523  43.0  administrator
270      270       251       5  876954752  18.0        student
271      144       251       4  888103929  53.0     programmer
272      131       251       5  883681723  59.0  administrator
273       79       251       5  891271545  39.0  administrator
274        2       251       5  888552084  53.0          other
275      310       251       5  879436035  37.0       educator
276      209       251       5  883417810  33.0       educator
277      247       251       4  893081395  28.0       engineer
278      132       251       4  891278996  24.0          other
279      342       251       5  875318267  25.0          other
280      344       251       5  889814518  30.0      librarian
281      345       251       5  884994119  28.0      librarian
282      354       251       5  891216691  29.0            NaN
283      360       251       5  880354315  51.0          other
284      379       251       5  885063301  44.0     programmer
285      385       251       2  879440098  36.0         writer
286      416       251       5  893213405  20.0            NaN
287      420       251       5  891357070  53.0       educator
288      449       251       3  879958603  23.0      librarian
289      444       251       5  890247385  51.0         lawyer
290      468       251       4  875280180  28.0       engineer
291      486       251       5  879874582   NaN       educator
292      498       251       3  881954219  26.0         writer
293      499       251       5  882996735  42.0     programmer
294      532       251       4  888636374  20.0        student
295      592       251       5  882607955  18.0        student
296      655       251       3  888984417  50.0     healthcare
297      707       251       5  880059647  56.0      librarian
298      756       251       4  875129238  30.0           none
299      771       251       5  880660087  26.0        student
300      773       251       3  888538573  20.0        student
301      782       251       3  891500109  21.0         artist
302      844       251       4  877381484  22.0       engineer
303      883       251       5  891692657  49.0      librarian
304      936       251       4  886832134  24.0          other

                movie_title release_date
259  Shall We Dance? (1996)   1997-07-11
260  Shall We Dance? (1996)   1997-07-11
261  Shall We Dance? (1996)   1997-07-11
262  Shall We Dance? (1996)   1997-07-11
263  Shall We Dance? (1996)   1997-07-11
264  Shall We Dance? (1996)   1997-07-11
265  Shall We Dance? (1996)   1997-07-11
266  Shall We Dance? (1996)   1997-07-11
267  Shall We Dance? (1996)   1997-07-11
268  Shall We Dance? (1996)   1997-07-11
269  Shall We Dance? (1996)   1997-07-11
270  Shall We Dance? (1996)   1997-07-11
271  Shall We Dance? (1996)   1997-07-11
272  Shall We Dance? (1996)   1997-07-11
273  Shall We Dance? (1996)   1997-07-11
274  Shall We Dance? (1996)   1997-07-11
275  Shall We Dance? (1996)   1997-07-11
276  Shall We Dance? (1996)   1997-07-11
277  Shall We Dance? (1996)   1997-07-11
278  Shall We Dance? (1996)   1997-07-11
279  Shall We Dance? (1996)   1997-07-11
280  Shall We Dance? (1996)   1997-07-11
281  Shall We Dance? (1996)   1997-07-11
282  Shall We Dance? (1996)   1997-07-11
283  Shall We Dance? (1996)   1997-07-11
284  Shall We Dance? (1996)   1997-07-11
285  Shall We Dance? (1996)   1997-07-11
286  Shall We Dance? (1996)   1997-07-11
287  Shall We Dance? (1996)   1997-07-11
288  Shall We Dance? (1996)   1997-07-11
289  Shall We Dance? (1996)   1997-07-11
290  Shall We Dance? (1996)   1997-07-11
291  Shall We Dance? (1996)   1997-07-11
292  Shall We Dance? (1996)   1997-07-11
293  Shall We Dance? (1996)   1997-07-11
294  Shall We Dance? (1996)   1997-07-11
295  Shall We Dance? (1996)   1997-07-11
296  Shall We Dance? (1996)   1997-07-11
297  Shall We Dance? (1996)   1997-07-11
298  Shall We Dance? (1996)   1997-07-11
299  Shall We Dance? (1996)   1997-07-11
300  Shall We Dance? (1996)   1997-07-11
301  Shall We Dance? (1996)   1997-07-11
302  Shall We Dance? (1996)   1997-07-11
303  Shall We Dance? (1996)   1997-07-11
304  Shall We Dance? (1996)   1997-07-11
381
     user_id  movie_id  rating  timestamp   age     occupation  \
159      196       381       4  881251728  49.0         writer
160      244       381       4  880604077   NaN     technician
161      286       381       5  877532965  27.0        student
162      303       381       4  879467574  19.0        student
163      234       381       3  892335739   NaN        retired
164      167       381       5  892738212  37.0          other
165      299       381       3  889502198  29.0         doctor
166       95       381       4  880571678  31.0  administrator
167      201       381       3  884111986  27.0         writer
168       59       381       5  888205659  49.0       educator
169      189       381       3  893277551  32.0         artist
170      271       381       3  885849536  51.0       engineer
171      198       381       3  884208273  21.0        student
172       58       381       4  890321652  27.0     programmer
173       94       381       4  886008764  26.0        student
174      128       381       3  879969033  24.0      marketing
175      264       381       4  886123596  36.0         writer
176      174       381       5  886513706  30.0            NaN
177      268       381       3  875309344  24.0       engineer
178        5       381       1  875636540  33.0          other
179       18       381       4  880131474  35.0          other
180      256       381       5  882165135  35.0           none
181      151       381       5  879528754  38.0  administrator
182      295       381       5  879518528  31.0       educator
183      233       381       4  877665125  38.0       engineer
184       23       381       4  874787350  30.0         artist
185      184       381       4  889909962  37.0      librarian
186       64       381       4  879365491  32.0       educator
187      257       381       5  880496690  17.0        student
188      280       381       3  891700925  30.0      librarian
..       ...       ...     ...        ...   ...            ...
229      666       381       3  880139349  44.0  administrator
230      684       381       2  878762033  28.0        student
231      704       381       3  891397713  51.0      librarian
232      707       381       3  886286457  56.0      librarian
233      711       381       5  879994749  22.0        student
234      716       381       4  879795644  36.0  administrator
235      751       381       1  889134419  24.0          other
236      771       381       3  880659970  26.0        student
237      786       381       3  882843397  36.0       engineer
238      796       381       3  893047208  32.0         writer
239      795       381       2  883774317  30.0     programmer
240      807       381       2  892530004  41.0     healthcare
241      819       381       4  884105841  59.0  administrator
242      828       381       3  891036568  28.0      librarian
243      833       381       4  875134016  34.0         writer
244      846       381       4  883950311  27.0         lawyer
245      859       381       4  885776352  18.0          other
246      860       381       3  885990998  70.0        retired
247      861       381       4  881274780  38.0        student
248      870       381       3  889409590  22.0        student
249      877       381       4  882677345  30.0          other
250      880       381       4  880174808  13.0        student
251      884       381       5  876859751  44.0       engineer
252      886       381       2  876032308  20.0        student
253      889       381       4  880180784  24.0            NaN
254      894       381       3  882404430  47.0       educator
255      916       381       3  880845738  27.0       engineer
256      911       381       5  892839846  37.0         writer
257      914       381       3  887122325  44.0          other
258      918       381       5  891988123  40.0      scientist

                 movie_title release_date
159  Muriel's Wedding (1994)   1994-01-01
160  Muriel's Wedding (1994)   1994-01-01
161  Muriel's Wedding (1994)   1994-01-01
162  Muriel's Wedding (1994)   1994-01-01
163  Muriel's Wedding (1994)   1994-01-01
164  Muriel's Wedding (1994)   1994-01-01
165  Muriel's Wedding (1994)   1994-01-01
166  Muriel's Wedding (1994)   1994-01-01
167  Muriel's Wedding (1994)   1994-01-01
168  Muriel's Wedding (1994)   1994-01-01
169  Muriel's Wedding (1994)   1994-01-01
170  Muriel's Wedding (1994)   1994-01-01
171  Muriel's Wedding (1994)   1994-01-01
172  Muriel's Wedding (1994)   1994-01-01
173  Muriel's Wedding (1994)   1994-01-01
174  Muriel's Wedding (1994)   1994-01-01
175  Muriel's Wedding (1994)   1994-01-01
176  Muriel's Wedding (1994)   1994-01-01
177  Muriel's Wedding (1994)   1994-01-01
178  Muriel's Wedding (1994)   1994-01-01
179  Muriel's Wedding (1994)   1994-01-01
180  Muriel's Wedding (1994)   1994-01-01
181  Muriel's Wedding (1994)   1994-01-01
182  Muriel's Wedding (1994)   1994-01-01
183  Muriel's Wedding (1994)   1994-01-01
184  Muriel's Wedding (1994)   1994-01-01
185  Muriel's Wedding (1994)   1994-01-01
186  Muriel's Wedding (1994)   1994-01-01
187  Muriel's Wedding (1994)   1994-01-01
188  Muriel's Wedding (1994)   1994-01-01
..                       ...          ...
229  Muriel's Wedding (1994)   1994-01-01
230  Muriel's Wedding (1994)   1994-01-01
231  Muriel's Wedding (1994)   1994-01-01
232  Muriel's Wedding (1994)   1994-01-01
233  Muriel's Wedding (1994)   1994-01-01
234  Muriel's Wedding (1994)   1994-01-01
235  Muriel's Wedding (1994)   1994-01-01
236  Muriel's Wedding (1994)   1994-01-01
237  Muriel's Wedding (1994)   1994-01-01
238  Muriel's Wedding (1994)   1994-01-01
239  Muriel's Wedding (1994)   1994-01-01
240  Muriel's Wedding (1994)   1994-01-01
241  Muriel's Wedding (1994)   1994-01-01
242  Muriel's Wedding (1994)   1994-01-01
243  Muriel's Wedding (1994)   1994-01-01
244  Muriel's Wedding (1994)   1994-01-01
245  Muriel's Wedding (1994)   1994-01-01
246  Muriel's Wedding (1994)   1994-01-01
247  Muriel's Wedding (1994)   1994-01-01
248  Muriel's Wedding (1994)   1994-01-01
249  Muriel's Wedding (1994)   1994-01-01
250  Muriel's Wedding (1994)   1994-01-01
251  Muriel's Wedding (1994)   1994-01-01
252  Muriel's Wedding (1994)   1994-01-01
253  Muriel's Wedding (1994)   1994-01-01
254  Muriel's Wedding (1994)   1994-01-01
255  Muriel's Wedding (1994)   1994-01-01
256  Muriel's Wedding (1994)   1994-01-01
257  Muriel's Wedding (1994)   1994-01-01
258  Muriel's Wedding (1994)   1994-01-01

[100 rows x 8 columns]

Besides, you may to see the first and the last item of each group

In [9]:
movies_grouped.first().head(10)

,user_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,IMDb_URL,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movie_id,,,,,,,,,,,,,,,,,,,,,
1,244,4,880604405,28.0,M,technician,80525,Toy Story (1995),1995-01-01,http://us.imdb.com/M/title-exact?Toy%20Story%2...,...,0,0,0,0,0,0,0,0,0,0
2,22,2,878887925,25.0,M,writer,40206,GoldenEye (1995),1995-01-01,http://us.imdb.com/M/title-exact?GoldenEye%20(...,...,0,0,0,0,0,0,0,1,0,0
3,244,5,880602451,28.0,M,technician,80525,Four Rooms (1995),1995-01-01,http://us.imdb.com/M/title-exact?Four%20Rooms%...,...,0,0,0,0,0,0,0,1,0,0
4,22,5,878886571,25.0,M,writer,40206,Get Shorty (1995),1995-01-01,http://us.imdb.com/M/title-exact?Get%20Shorty%...,...,0,0,0,0,0,0,0,0,0,0
5,303,2,879484534,19.0,M,student,14853,Copycat (1995),1995-01-01,http://us.imdb.com/M/title-exact?Copycat%20(1995),...,0,0,0,0,0,0,0,1,0,0
6,63,3,875747439,31.0,M,marketing,75240,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,1995-01-01,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...,...,0,0,0,0,0,0,0,0,0,0
7,244,4,880602558,28.0,M,technician,80525,Twelve Monkeys (1995),1995-01-01,http://us.imdb.com/M/title-exact?Twelve%20Monk...,...,0,0,0,0,0,0,1,0,0,0
8,196,5,881251753,49.0,M,writer,55105,Babe (1995),1995-01-01,http://us.imdb.com/M/title-exact?Babe%20(1995),...,0,0,0,0,0,0,0,0,0,0
9,244,5,880604179,28.0,M,technician,80525,Dead Man Walking (1995),1995-01-01,http://us.imdb.com/M/title-exact?Dead%20Man%20...,...,0,0,0,0,0,0,0,0,0,0
10,234,3,891227851,60.0,M,retired,94702,Richard III (1995),1996-01-22,http://us.imdb.com/M/title-exact?Richard%20III...,...,0,0,0,0,0,0,0,0,1,0

In [10]:
movies_grouped.last().head(10)

,user_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,IMDb_URL,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movie_id,,,,,,,,,,,,,,,,,,,,,
1,941,5,875049144,20.0,M,student,97229,Toy Story (1995),1995-01-01,http://us.imdb.com/M/title-exact?Toy%20Story%2...,...,0,0,0,0,0,0,0,0,0,0
2,943,5,888639953,22.0,M,student,77841,GoldenEye (1995),1995-01-01,http://us.imdb.com/M/title-exact?GoldenEye%20(...,...,0,0,0,0,0,0,0,1,0,0
3,936,4,886833148,24.0,M,other,32789,Four Rooms (1995),1995-01-01,http://us.imdb.com/M/title-exact?Four%20Rooms%...,...,0,0,0,0,0,0,0,1,0,0
4,940,2,885922040,32.0,M,administrator,02215,Get Shorty (1995),1995-01-01,http://us.imdb.com/M/title-exact?Get%20Shorty%...,...,0,0,0,0,0,0,0,0,0,0
5,925,4,884718156,18.0,F,salesman,49036,Copycat (1995),1995-01-01,http://us.imdb.com/M/title-exact?Copycat%20(1995),...,0,0,0,0,0,0,0,1,0,0
6,936,5,886832636,24.0,M,other,32789,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,1995-01-01,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...,...,0,0,0,0,0,0,0,0,0,0
7,941,4,875048952,20.0,M,student,97229,Twelve Monkeys (1995),1995-01-01,http://us.imdb.com/M/title-exact?Twelve%20Monk...,...,0,0,0,0,0,0,1,0,0,0
8,930,3,879535713,28.0,F,administrator,07310,Babe (1995),1995-01-01,http://us.imdb.com/M/title-exact?Babe%20(1995),...,0,0,0,0,0,0,0,0,0,0
9,936,4,886832373,24.0,M,other,32789,Dead Man Walking (1995),1995-01-01,http://us.imdb.com/M/title-exact?Dead%20Man%20...,...,0,0,0,0,0,0,0,0,0,0
10,906,4,879435339,45.0,M,librarian,70124,Richard III (1995),1996-01-22,http://us.imdb.com/M/title-exact?Richard%20III...,...,0,0,0,0,0,0,0,0,1,0

And at the end of this subparagraph let’s note that `groupby()` groups by indexes by default, i.e. when no one columns is no set. Any function written as an argument of `groupby()` will work with indexes in this case.

In [11]:
# let's set indexes the 'timestamp'column items  
short_dated = short_movies.set_index('timestamp')
short_dated.head(10)

,user_id,movie_id,rating,age,occupation,movie_title,release_date
timestamp,,,,,,,
881250949,196,242,3,49.0,writer,Kolya (1996),1997-01-24
886307828,305,242,5,23.0,programmer,Kolya (1996),1997-01-24
883268170,6,242,4,42.0,executive,Kolya (1996),1997-01-24
891033261,234,242,4,60.0,retired,Kolya (1996),1997-01-24
875747190,63,242,3,31.0,marketing,Kolya (1996),1997-01-24
878961814,181,242,1,26.0,executive,Kolya (1996),1997-01-24
884110598,201,242,4,27.0,writer,Kolya (1996),1997-01-24
879571438,249,242,5,25.0,student,Kolya (1996),1997-01-24
881515193,13,242,2,47.0,educator,Kolya (1996),1997-01-24
877756647,279,242,3,33.0,programmer,Kolya (1996),1997-01-24

In [12]:
from datetime import datetime 
# convert dates of string type to datetime date format
# then we may handle to the year, month or date as to attributes
res = short_dated.groupby(lambda x: x)
for key, value in list(res)[:3]:
# if you want to see more values uncomment row below and comment the previous row
#for key, value in res:
    print key
    print value

874730320
           user_id  movie_id  rating   age occupation            movie_title  \
timestamp
874730320      712       393       3  22.0    student  Mrs. Doubtfire (1993)

          release_date
timestamp
874730320   1993-01-01
874781628
           user_id  movie_id  rating   age  occupation         movie_title  \
timestamp
874781628      119       655       5  32.0  programmer  Stand by Me (1986)

          release_date
timestamp
874781628   1986-01-01
874787350
           user_id  movie_id  rating   age occupation  \
timestamp
874787350       23       381       4  30.0     artist

                       movie_title release_date
timestamp
874787350  Muriel's Wedding (1994)   1994-01-01

### Selection and filtering

[[back to top]](#Table-of-Contents)

Functions of descriptive statistic like `sum()`, `count()`, `max()`, `min()`, `mean()` can be quickly applied to the `GroupBy` object to obtain summary statistics for each group – an immensely useful function. The same statement is valid also for functions like `describe()` which return general information about an object. 

Let’s show a few examples of descriptive statistic function application to the `GroupBy` object

In [13]:
movies_grouped.count().head(10)

,user_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,IMDb_URL,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movie_id,,,,,,,,,,,,,,,,,,,,,
1,452,452,452,417,452,427,452,452,452,452,...,452,452,452,452,452,452,452,452,452,452
2,131,131,131,120,131,127,131,131,131,131,...,131,131,131,131,131,131,131,131,131,131
3,90,90,90,82,90,87,90,90,90,90,...,90,90,90,90,90,90,90,90,90,90
4,209,209,209,201,209,201,209,209,209,209,...,209,209,209,209,209,209,209,209,209,209
5,86,86,86,82,86,81,86,86,86,86,...,86,86,86,86,86,86,86,86,86,86
6,26,26,26,25,26,25,26,26,26,26,...,26,26,26,26,26,26,26,26,26,26
7,392,392,392,365,392,379,392,392,392,392,...,392,392,392,392,392,392,392,392,392,392
8,219,219,219,208,219,198,219,219,219,219,...,219,219,219,219,219,219,219,219,219,219
9,299,299,299,279,299,284,299,299,299,299,...,299,299,299,299,299,299,299,299,299,299
10,89,89,89,82,89,86,89,89,89,89,...,89,89,89,89,89,89,89,89,89,89

In [14]:
movies_grouped.sum().add_prefix('sum_of_').head(10)
# calculate the sum only for numeric columns, 
# all columns with other types will be ignored and missed
# we have add also common prefics to all columns. It's very conveniently

,sum_of_user_id,sum_of_rating,sum_of_timestamp,sum_of_age,sum_of_unknown,sum_of_Action,sum_of_Adventure,sum_of_Animation,sum_of_Childrens,sum_of_Comedy,...,sum_of_Fantasy,sum_of_Film-Noir,sum_of_Horror,sum_of_Musical,sum_of_Mystery,sum_of_Romance,sum_of_Sci-Fi,sum_of_Thriller,sum_of_War,sum_of_Western
movie_id,,,,,,,,,,,,,,,,,,,,,
1,215609,1753,399028021059,13419.0,0,0,0,452,452,452,...,0,0,0,0,0,0,0,0,0,0
2,64453,420,115727673079,3526.0,0,131,131,0,0,0,...,0,0,0,0,0,0,0,131,0,0
3,41322,273,79400420109,2168.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,90,0,0
4,98125,742,184487964275,6573.0,0,209,0,0,0,209,...,0,0,0,0,0,0,0,0,0,0
5,37786,284,75902581757,2453.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,86,0,0
6,11819,93,22968466745,894.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,174585,1489,345926648221,11165.0,0,0,0,0,0,0,...,0,0,0,0,0,0,392,0,0,0
8,99574,875,193431714253,6883.0,0,0,0,0,219,219,...,0,0,0,0,0,0,0,0,0,0
9,137636,1165,263909983760,9792.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,40069,341,78556407374,3189.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,89,0

In [15]:
movies.groupby(['movie_id'])['rating'].sum()
# calculate sum for a single column
# it works more quickly then movies.groupby(['movie_id']).sum()['rating']

movie_id
1       1753
2        420
3        273
4        742
5        284
6         93
7       1489
8        875
9       1165
10       341
11       908
12      1171
13       629
14       726
15      1107
16       125
17       287
18        28
19       273
20       246
21       232
22      1233
23       750
24       600
25      1009
26       252
27       177
28      1085
29       304
30       146
        ...
1653       5
1654       1
1655       2
1656       7
1657       3
1658       9
1659       1
1660       2
1661       1
1662       5
1663       2
1664      13
1665       2
1666       2
1667       3
1668       3
1669       2
1670       3
1671       1
1672       4
1673       3
1674       4
1675       3
1676       2
1677       3
1678       1
1679       3
1680       2
1681       3
1682       3
Name: rating, dtype: int64

In [16]:
movies.groupby(['movie_id', 'user_id']).sum()
# it is possible to group by many columns

                  rating  timestamp   age  unknown  Action  Adventure  \
movie_id user_id
1        1             5  874965758  24.0        0       0          0
         2             4  888550871  53.0        0       0          0
         5             4  875635748  33.0        0       0          0
         6             4  883599478  42.0        0       0          0
         10            4  877888877  53.0        0       0          0
         13            3  882140487  47.0        0       0          0
         15            1  879455635  49.0        0       0          0
         16            5  877717833  21.0        0       0          0
         17            4  885272579  30.0        0       0          0
         18            5  880130802  35.0        0       0          0
         20            3  879667963  42.0        0       0          0
         21            5  874951244  26.0        0       0          0
         23            5  874784615  30.0        0       0          0
         25            5  885853415  39.0        0       0          0
         26            3  891350625  49.0        0       0          0
         38            5  892430636  28.0        0       0          0
         41            4  890692860  33.0        0       0          0
         42            5  881105633  30.0        0       0          0
         43            5  875975579  29.0        0       0          0
         44            4  878341315   NaN        0       0          0
         45            5  881013176  29.0        0       0          0
         49            2  888068651  23.0        0       0          0
         54            4  880931595  22.0        0       0          0
         56            4  892683248  25.0        0       0          0
         57            5  883698581  16.0        0       0          0
         58            5  884304483  27.0        0       0          0
         59            2  888203053  49.0        0       0          0
         62            2  879372813  27.0        0       0          0
         63            3  875747368  31.0        0       0          0
         64            4  879366214  32.0        0       0          0
...                  ...        ...   ...      ...     ...        ...
1658     894           4  882404137   NaN        0       0          0
1659     747           1  888733313  19.0        0       0          0
1660     747           2  888640731  19.0        0       0          0
1661     751           1  889299429  24.0        0       0          0
1662     762           1  878719324  32.0        0       0          0
         782           4  891500110  21.0        0       0          0
1663     782           2  891499700  21.0        0       0          0
1664     782           4  891499699  21.0        0       0          0
         839           1  875752902  38.0        0       0          0
         870           4  890057322   NaN        0       0          0
         880           4  892958799  13.0        0       0          0
1665     782           2  891500194  21.0        0       0          0
1666     782           2  891500194  21.0        0       0          0
1667     782           3  891500110   NaN        0       0          0
1668     782           3  891500067  21.0        0       0          0
1669     782           2  891500150  21.0        0       0          0
1670     782           3  891497793  21.0        0       0          0
1671     787           1  888980193  18.0        0       0          0
1672     828           2  891037722  28.0        0       0          0
         896           2  887159554  28.0        0       0          0
1673     835           3  891034023  44.0        0       1          0
1674     840           4  891211682  39.0        0       0          0
1675     851           3  884222085  18.0        0       0          0
1676     851           2  875731674   NaN        0       0          0
1677     854           3  882814368  29.0        0       0          0
1678     863           1  889289570   NaN        0       0          0
1679     863           3  889289491  17.0        0       0          0
1680     863           2  889289570  17.0        0       0          0
1681     896           3  887160722  28.0        0       0          0
1682     916           3  880845755  27.0        0       0          0

                  Animation  Childrens  Comedy  Crime   ...     Fantasy  \
movie_id user_id                                        ...
1        1                1          1       1      0   ...           0
         2                1          1       1      0   ...           0
         5                1          1       1      0   ...           0
         6                1          1       1      0   ...           0
         10               1          1       1      0   ...           0
         13               1          1       1      0   ...           0
         15               1          1       1      0   ...           0
         16               1          1       1      0   ...           0
         17               1          1       1      0   ...           0
         18               1          1       1      0   ...           0
         20               1          1       1      0   ...           0
         21               1          1       1      0   ...           0
         23               1          1       1      0   ...           0
         25               1          1       1      0   ...           0
         26               1          1       1      0   ...           0
         38               1          1       1      0   ...           0
         41               1          1       1      0   ...           0
         42               1          1       1      0   ...           0
         43               1          1       1      0   ...           0
         44               1          1       1      0   ...           0
         45               1          1       1      0   ...           0
         49               1          1       1      0   ...           0
         54               1          1       1      0   ...           0
         56               1          1       1      0   ...           0
         57               1          1       1      0   ...           0
         58               1          1       1      0   ...           0
         59               1          1       1      0   ...           0
         62               1          1       1      0   ...           0
         63               1          1       1      0   ...           0
         64               1          1       1      0   ...           0
...                     ...        ...     ...    ...   ...         ...
1658     894              0          0       0      0   ...           0
1659     747              0          0       1      0   ...           0
1660     747              0          0       0      0   ...           0
1661     751              0          0       0      0   ...           0
1662     762              0          0       0      0   ...           0
         782              0          0       0      0   ...           0
1663     782              0          0       0      0   ...           0
1664     782              0          0       1      0   ...           0
         839              0          0       1      0   ...           0
         870              0          0       1      0   ...           0
         880              0          0       1      0   ...           0
1665     782              0          0       0      0   ...           0
1666     782              0          0       0      0   ...           0
1667     782              0          0       0      0   ...           0
1668     782              0          0       1      0   ...           0
1669     782              0          0       0      1   ...           0
1670     782              0          0       1      0   ...           0
1671     787              0          0       0      0   ...           0
1672     828              0          0       0      0   ...           0
         896              0          0       0      0   ...           0
1673     835              0          0       0      0   ...           0
1674     840              0          0       0      0   ...           0
1675     851              0          0       0      0   ...           0
1676     851              0          0       0      0   ...           0
1677     854              0          0       0      0   ...           0
1678     863              0          0       0      0   ...           0
1679     863              0          0       0      0   ...           0
1680     863              0          0       0      0   ...           0
1681     896              0          0       1      0   ...           0
1682     916              0          0       0      0   ...           0

                  Film-Noir  Horror  Musical  Mystery  Romance  Sci-Fi  \
movie_id user_id
1        1                0       0        0        0        0       0
         2                0       0        0        0        0       0
         5                0       0        0        0        0       0
         6                0       0        0        0        0       0
         10               0       0        0        0        0       0
         13               0       0        0        0        0       0
         15               0       0        0        0        0       0
         16               0       0        0        0        0       0
         17               0       0        0        0        0       0
         18               0       0        0        0        0       0
         20               0       0        0        0        0       0
         21               0       0        0        0        0       0
         23               0       0        0        0        0       0
         25               0       0        0        0        0       0
         26               0       0        0        0        0       0
         38               0       0        0        0        0       0
         41               0       0        0        0        0       0
         42               0       0        0        0        0       0
         43               0       0        0        0        0       0
         44               0       0        0        0        0       0
         45               0       0        0        0        0       0
         49               0       0        0        0        0       0
         54               0       0        0        0        0       0
         56               0       0        0        0        0       0
         57               0       0        0        0        0       0
         58               0       0        0        0        0       0
         59               0       0        0        0        0       0
         62               0       0        0        0        0       0
         63               0       0        0        0        0       0
         64               0       0        0        0        0       0
...                     ...     ...      ...      ...      ...     ...
1658     894              0       0        0        0        0       0
1659     747              0       0        0        0        0       0
1660     747              0       0        0        0        0       0
1661     751              0       0        0        0        0       0
1662     762              0       0        0        0        1       0
         782              0       0        0        0        1       0
1663     782              0       0        0        0        0       0
1664     782              0       0        0        0        0       0
         839              0       0        0        0        0       0
         870              0       0        0        0        0       0
         880              0       0        0        0        0       0
1665     782              0       0        0        0        0       0
1666     782              0       0        0        0        0       0
1667     782              0       0        0        0        0       0
1668     782              0       0        0        0        0       0
1669     782              0       0        0        1        0       0
1670     782              0       0        0        0        0       0
1671     787              0       0        0        0        0       0
1672     828              0       0        0        0        0       0
         896              0       0        0        0        0       0
1673     835              0       0        0        0        0       0
1674     840              0       0        0        0        0       0
1675     851              0       0        0        0        0       0
1676     851              0       0        0        0        0       0
1677     854              0       0        0        0        0       0
1678     863              0       0        0        0        0       0
1679     863              0       0        0        0        1       0
1680     863              0       0        0        0        1       0
1681     896              0       0        0        0        0       0
1682     916              0       0        0        0        0       0

                  Thriller  War  Western
movie_id user_id
1        1               0    0        0
         2               0    0        0
         5               0    0        0
         6               0    0        0
         10              0    0        0
         13              0    0        0
         15              0    0        0
         16              0    0        0
         17              0    0        0
         18              0    0        0
         20              0    0        0
         21              0    0        0
         23              0    0        0
         25              0    0        0
         26              0    0        0
         38              0    0        0
         41              0    0        0
         42              0    0        0
         43              0    0        0
         44              0    0        0
         45              0    0        0
         49              0    0        0
         54              0    0        0
         56              0    0        0
         57              0    0        0
         58              0    0        0
         59              0    0        0
         62              0    0        0
         63              0    0        0
         64              0    0        0
...                    ...  ...      ...
1658     894             0    0        0
1659     747             0    0        0
1660     747             0    0        0
1661     751             0    0        0
1662     762             0    0        0
         782             0    0        0
1663     782             0    1        0
1664     782             0    0        0
         839             0    0        0
         870             0    0        0
         880             0    0        0
1665     782             0    0        0
1666     782             0    0        0
1667     782             0    0        0
1668     782             0    0        0
1669     782             0    0        0
1670     782             1    0        0
1671     787             0    0        0
1672     828             0    0        0
         896             0    0        0
1673     835             1    0        0
1674     840             0    0        0
1675     851             0    0        0
1676     851             0    0        0
1677     854             0    0        0
1678     863             0    0        0
1679     863             1    0        0
1680     863             0    0        0
1681     896             0    0        0
1682     916             0    0        0

[100000 rows x 22 columns]

In [17]:
movies.groupby(['user_id', 'movie_id']).sum()
# pay your attention that the changing of the order of 
# columns for grouping in 
# its list also changes the result table

                  rating  timestamp   age  unknown  Action  Adventure  \
user_id movie_id
1       1              5  874965758  24.0        0       0          0
        2              3  876893171  24.0        0       1          1
        3              4  878542960  24.0        0       0          0
        4              3  876893119  24.0        0       1          0
        5              3  889751712  24.0        0       0          0
        6              5  887431973  24.0        0       0          0
        7              4  875071561  24.0        0       0          0
        8              1  875072484  24.0        0       0          0
        9              5  878543541  24.0        0       0          0
        10             3  875693118   NaN        0       0          0
        11             2  875072262  24.0        0       0          0
        12             5  878542960  24.0        0       0          0
        13             5  875071805  24.0        0       0          0
        14             5  874965706  24.0        0       0          0
        15             5  875071608   NaN        0       0          0
        16             5  878543541  24.0        0       0          0
        17             3  875073198  24.0        0       1          0
        18             4  887432020  24.0        0       0          0
        19             5  875071515  24.0        0       0          0
        20             4  887431883  24.0        0       0          0
        21             1  878542772   NaN        0       1          1
        22             4  875072404  24.0        0       1          0
        23             4  875072895  24.0        0       0          0
        24             3  875071713  24.0        0       1          1
        25             4  875071805  24.0        0       0          0
        26             3  875072442  24.0        0       0          0
        27             2  876892946  24.0        0       1          0
        28             4  875072173  24.0        0       1          0
        29             1  878542869  24.0        0       1          1
        30             3  878542515  24.0        0       0          0
...                  ...        ...   ...      ...     ...        ...
943     720            1  888640048  22.0        0       1          1
        721            5  888639660  22.0        0       0          0
        722            3  888640208  22.0        0       0          0
        724            1  888639478  22.0        0       0          0
        732            4  888639789  22.0        0       0          0
        739            4  888639929  22.0        0       0          0
        756            2  875502146  22.0        0       0          0
        763            4  875501813  22.0        0       0          0
        765            3  888640227   NaN        0       0          0
        785            2  888640088  22.0        0       0          0
        794            3  888640143  22.0        0       0          0
        796            3  888640311  22.0        0       0          0
        808            4  888639868  22.0        0       1          0
        816            4  888640186  22.0        0       0          0
        824            4  875502483  22.0        0       0          0
        825            3  875502283   NaN        0       1          0
        831            2  875502283  22.0        0       1          1
        840            4  888693104  22.0        0       1          0
        928            5  875502074  22.0        0       0          0
        941            1  888639725   NaN        0       0          0
        943            5  888639614  22.0        0       0          0
        1011           2  875502560  22.0        0       0          0
        1028           2  875502096  22.0        0       0          0
        1044           3  888639903  22.0        0       0          0
        1047           2  875502146  22.0        0       0          0
        1067           2  875501756  22.0        0       0          0
        1074           4  888640250  22.0        0       0          0
        1188           3  888640250  22.0        0       1          0
        1228           3  888640275  22.0        0       1          0
        1330           3  888692465  22.0        0       0          0

                  Animation  Childrens  Comedy  Crime   ...     Fantasy  \
user_id movie_id                                        ...
1       1                 1          1       1      0   ...           0
        2                 0          0       0      0   ...           0
        3                 0          0       0      0   ...           0
        4                 0          0       1      0   ...           0
        5                 0          0       0      1   ...           0
        6                 0          0       0      0   ...           0
        7                 0          0       0      0   ...           0
        8                 0          1       1      0   ...           0
        9                 0          0       0      0   ...           0
        10                0          0       0      0   ...           0
        11                0          0       0      1   ...           0
        12                0          0       0      1   ...           0
        13                0          0       1      0   ...           0
        14                0          0       0      0   ...           0
        15                0          0       0      0   ...           0
        16                0          0       1      0   ...           0
        17                0          0       1      1   ...           0
        18                0          0       0      0   ...           0
        19                0          0       0      0   ...           0
        20                0          0       0      0   ...           0
        21                0          0       1      0   ...           0
        22                0          0       0      0   ...           0
        23                0          0       0      0   ...           0
        24                0          0       0      1   ...           0
        25                0          0       1      0   ...           0
        26                0          0       1      0   ...           0
        27                0          0       0      0   ...           0
        28                0          0       0      0   ...           0
        29                0          0       1      1   ...           0
        30                0          0       0      0   ...           0
...                     ...        ...     ...    ...   ...         ...
943     720               0          0       0      0   ...           0
        721               0          0       1      0   ...           0
        722               0          0       1      0   ...           0
        724               0          0       0      0   ...           0
        732               0          0       1      0   ...           0
        739               0          0       1      0   ...           0
        756               0          0       1      0   ...           0
        763               0          0       1      0   ...           0
        765               0          0       1      0   ...           0
        785               0          0       1      0   ...           0
        794               0          0       0      0   ...           0
        796               0          0       1      0   ...           0
        808               0          0       0      0   ...           0
        816               0          0       0      0   ...           0
        824               0          0       1      0   ...           0
        825               0          0       0      0   ...           0
        831               0          0       0      0   ...           0
        840               0          0       0      0   ...           0
        928               0          0       0      0   ...           0
        941               0          0       1      0   ...           0
        943               0          0       0      0   ...           0
        1011              0          0       0      1   ...           0
        1028              0          0       1      0   ...           0
        1044              0          0       1      0   ...           0
        1047              0          0       1      0   ...           0
        1067              0          0       1      0   ...           0
        1074              0          0       1      0   ...           0
        1188              0          0       1      0   ...           0
        1228              0          0       0      0   ...           0
        1330              0          0       0      0   ...           0

                  Film-Noir  Horror  Musical  Mystery  Romance  Sci-Fi  \
user_id movie_id
1       1                 0       0        0        0        0       0
        2                 0       0        0        0        0       0
        3                 0       0        0        0        0       0
        4                 0       0        0        0        0       0
        5                 0       0        0        0        0       0
        6                 0       0        0        0        0       0
        7                 0       0        0        0        0       1
        8                 0       0        0        0        0       0
        9                 0       0        0        0        0       0
        10                0       0        0        0        0       0
        11                0       0        0        0        0       0
        12                0       0        0        0        0       0
        13                0       0        0        0        0       0
        14                0       0        0        0        1       0
        15                0       0        0        0        0       0
        16                0       0        0        0        1       0
        17                0       1        0        0        0       0
        18                0       0        0        0        0       0
        19                0       0        0        0        0       0
        20                0       0        0        0        1       0
        21                0       0        1        0        0       0
        22                0       0        0        0        0       0
        23                0       0        0        0        0       0
        24                0       0        0        0        0       0
        25                0       0        0        0        0       0
        26                0       0        0        0        0       0
        27                0       0        0        0        0       0
        28                0       0        0        0        0       0
        29                0       0        0        0        0       0
        30                0       0        0        0        0       0
...                     ...     ...      ...      ...      ...     ...
943     720               0       0        0        0        1       0
        721               0       0        0        0        0       0
        722               0       0        0        0        0       0
        724               0       0        0        0        1       0
        732               0       0        0        0        1       0
        739               0       0        0        0        1       0
        756               0       0        0        0        0       0
        763               0       0        0        0        0       0
        765               0       0        0        0        1       0
        785               0       0        0        0        1       0
        794               0       0        0        0        1       0
        796               0       0        0        0        1       0
        808               0       0        0        0        0       0
        816               0       1        0        0        0       0
        824               0       0        0        0        0       0
        825               0       0        0        0        0       1
        831               0       0        0        0        0       1
        840               0       0        0        0        0       0
        928               0       1        0        0        0       0
        941               0       0        0        0        0       0
        943               0       0        0        0        0       0
        1011              0       0        0        0        0       0
        1028              0       0        0        0        1       0
        1044              0       0        0        0        0       0
        1047              0       0        0        0        0       0
        1067              0       0        0        0        0       0
        1074              0       0        0        0        0       0
        1188              0       0        0        0        0       0
        1228              0       0        0        0        0       0
        1330              0       0        0        0        0       0

                  Thriller  War  Western
user_id movie_id
1       1                0    0        0
        2                1    0        0
        3                1    0        0
        4                0    0        0
        5                1    0        0
        6                0    0        0
        7                0    0        0
        8                0    0        0
        9                0    0        0
        10               0    1        0
        11               1    0        0
        12               1    0        0
        13               0    0        0
        14               0    0        0
        15               0    0        0
        16               0    0        0
        17               1    0        0
        18               0    0        0
        19               0    0        0
        20               0    0        0
        21               1    0        0
        22               0    1        0
        23               1    0        0
        24               0    0        0
        25               0    0        0
        26               0    0        0
        27               0    0        0
        28               1    0        0
        29               0    0        0
        30               0    0        0
...                    ...  ...      ...
943     720              0    0        0
        721              0    0        0
        722              0    0        0
        724              0    0        0
        732              0    0        0
        739              0    0        0
        756              0    0        0
        763              0    0        0
        765              0    0        0
        785              0    0        0
        794              0    0        0
        796              0    0        0
        808              0    0        0
        816              0    0        0
        824              0    0        0
        825              1    0        0
        831              1    0        0
        840              0    0        1
        928              0    0        0
        941              0    0        0
        943              1    0        0
        1011             0    0        0
        1028             0    0        0
        1044             0    0        0
        1047             0    0        0
        1067             0    0        0
        1074             0    0        0
        1188             0    0        1
        1228             0    0        0
        1330             0    0        0

[100000 rows x 22 columns]

It is possible also to show all groups

In [18]:
short_grouped.groups

{242: [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66],
 251: [259,
  260,
  261,
  262,
  263,
  264,
  265,
  266,
  267,
  268,
  269,
  270,
  271,
  272,
  273,
  274,
  275,
  276,
  277,
  278,
  279,
  280,
  281,
  282,
  283,
  284,
  285,
  286,
  287,
  288,
  289,
  290,
  291,
  292,
  293,
  294,
  295,
  296,
  297,
  298,
  299,
  300,
  301,
  302,
  303,
  304],
 381: [159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  177,
  178,
  179,
  180,
  181,
  182,
  183,
  184,
  185,
  186,
  187,
  188,
  189,
  190,
  191,
  192,
  193,
  194,
  195,
  196,
  197,
  198,
  199,
  200,
  201,
  202,
  203,
  204,
  205,
  206,
  207,
  208,
  209,
  210,
  211,
  212,
  213,
  214,
  215,
  216,
  217,
  218,
  219,
  220,
  221,
  222,
  223,
  224,
  225,
  226,
  227,
  228,
  229,
  230,
  231,
  232,
  233,
  234,
  235,
  236,
  237,
  238,
  239,
  240,
  241,
  242,
  243,
  244,
  245,
  246,
  247,
  248,
  249,
  250,
  251,
  252,
  253,
  254,
  255,
  256,
  257,
  258],
 393: [67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  100,
  101,
  102,
  103,
  104,
  105,
  106,
  107,
  108,
  109,
  110,
  111,
  112,
  113,
  114,
  115,
  116,
  117,
  118,
  119,
  120,
  121,
  122,
  123,
  124,
  125,
  126,
  127,
  128,
  129,
  130,
  131,
  132,
  133,
  134,
  135,
  136,
  137,
  138,
  139,
  140,
  141,
  142,
  143,
  144,
  145,
  146,
  147,
  148,
  149,
  150,
  151,
  152,
  153,
  154,
  155,
  156,
  157,
  158],
 655: [305,
  306,
  307,
  308,
  309,
  310,
  311,
  312,
  313,
  314,
  315,
  316,
  317,
  318,
  319,
  320,
  321,
  322,
  323,
  324,
  325,
  326,
  327,
  328,
  329,
  330,
  331,
  332,
  333,
  334,
  335,
  336,
  337,
  338,
  339,
  340,
  341,
  342,
  343,
  344,
  345,
  346,
  347,
  348,
  349]}

In [19]:
movie_user_id_grouped = movies.groupby(['movie_id', 'user_id'])
movie_user_id_grouped.groups

{(109, 365): [29444],
 (259, 938): [67483],
 (150, 805): [89157],
 (747, 795): [38570],
 (270, 302): [78406],
 (1008, 537): [65284],
 (203, 889): [16707],
 (76, 201): [70181],
 (385, 660): [7628],
 (734, 864): [82340],
 (461, 385): [76470],
 (1351, 896): [96150],
 (380, 311): [36419],
 (751, 800): [55656],
 (820, 903): [18133],
 (534, 782): [76107],
 (403, 504): [22440],
 (96, 870): [22066],
 (1039, 295): [40457],
 (29, 334): [22205],
 (527, 499): [49158],
 (216, 363): [28161],
 (414, 664): [90722],
 (739, 889): [44352],
 (100, 805): [12213],
 (485, 749): [63659],
 (144, 535): [30621],
 (515, 552): [26881],
 (787, 207): [95167],
 (56, 323): [16223],
 (939, 504): [11495],
 (134, 666): [59862],
 (28, 185): [53010],
 (739, 593): [44305],
 (473, 798): [58088],
 (346, 532): [54450],
 (648, 22): [23508],
 (498, 763): [57727],
 (136, 330): [75402],
 (583, 94): [85244],
 (198, 248): [67532],
 (491, 398): [77545],
 (2, 399): [30775],
 (274, 680): [58624],
 (244, 590): [91350],
 (117, 504): [10278],
 (924, 274): [53429],
 (691, 9): [97568],
 (13, 13): [5228],
 (255, 78): [43078],
 (112, 200): [83310],
 (98, 407): [15880],
 (151, 387): [42614],
 (942, 378): [93592],
 (211, 236): [28508],
 (709, 661): [73076],
 (875, 181): [78554],
 (748, 445): [55321],
 (1119, 94): [50810],
 (273, 497): [65663],
 (183, 786): [35969],
 (476, 280): [75146],
 (577, 291): [80555],
 (944, 618): [90848],
 (1241, 196): [4745],
 (12, 90): [18500],
 (127, 913): [33066],
 (164, 109): [40310],
 (277, 330): [80291],
 (443, 62): [64891],
 (83, 23): [67042],
 (196, 286): [40531],
 (657, 292): [65828],
 (55, 197): [18777],
 (258, 361): [17542],
 (25, 402): [1692],
 (228, 655): [32197],
 (11, 867): [64580],
 (275, 123): [63340],
 (380, 578): [36458],
 (89, 795): [31988],
 (163, 60): [29313],
 (202, 538): [3962],
 (315, 489): [56298],
 (135, 194): [41320],
 (174, 412): [34393],
 (1171, 486): [97029],
 (298, 56): [17887],
 (515, 416): [26853],
 (845, 921): [6033],
 (591, 213): [8647],
 (333, 197): [8409],
 (794, 361): [91244],
 (10, 312): [91994],
 (231, 746): [27722],
 (125, 99): [62974],
 (162, 495): [46748],
 (946, 764): [45807],
 (480, 758): [72717],
 (427, 913): [62947],
 (120, 349): [86828],
 (413, 222): [82432],
 (286, 84): [1898],
 (180, 767): [39899],
 (1270, 880): [88179],
 (1164, 881): [96051],
 (615, 465): [89996],
 (48, 345): [66550],
 (357, 417): [48410],
 (161, 158): [30907],
 (237, 907): [9625],
 (300, 309): [13057],
 (518, 387): [69314],
 (186, 315): [21631],
 (495, 311): [76924],
 (977, 92): [7975],
 (276, 618): [52715],
 (299, 104): [13354],
 (211, 868): [28640],
 (730, 828): [94869],
 (472, 548): [77341],
 (324, 717): [38116],
 (792, 151): [35057],
 (151, 684): [42713],
 (246, 296): [46827],
 (160, 833): [73670],
 (570, 788): [83045],
 (19, 6): [75029],
 (185, 498): [58814],
 (132, 303): [62153],
 (886, 570): [40886],
 (109, 69): [29433],
 (411, 880): [4943],
 (1409, 393): [90535],
 (489, 932): [77632],
 (588, 144): [7739],
 (1031, 868): [95421],
 (892, 254): [82819],
 (222, 380): [23243],
 (991, 250): [86379],
 (403, 645): [22467],
 (479, 406): [62473],
 (961, 435): [74526],
 (322, 335): [8094],
 (216, 246): [28060],
 (566, 746): [6821],
 (248, 711): [75823],
 (100, 936): [12277],
 (213, 151): [58278],
 (568, 506): [15223],
 (515, 661): [26905],
 (199, 932): [62734],
 (169, 81): [49256],
 (1183, 798): [90493],
 (231, 279): [27628],
 (88, 95): [53972],
 (240, 938): [39722],
 (293, 176): [76325],
 (1215, 393): [88887],
 (28, 262): [52978],
 (1303, 671): [87805],
 (300, 652): [13211],
 (212, 64): [70364],
 (161, 774): [31032],
 (364, 267): [87601],
 (205, 777): [60888],
 (705, 321): [59623],
 (154, 505): [24927],
 (193, 405): [53742],
 (670, 897): [89356],
 (260, 3): [87345],
 (179, 934): [38359],
 (550, 363): [9168],
 (98, 298): [15693],
 (151, 276): [42494],
 (889, 13): [94617],
 (836, 524): [93634],
 (582, 24): [71954],
 (785, 314): [86488],
 (1, 459): [50477],
 (19, 894): [75091],
 (222, 923): [23452],
 (651, 401): [26359],
 (782, 537): [92582],
 (127, 794): [33012],
 (58, 383): [52338],
 (330, 504): [18249],
 (150, 327): [89071],
 (728, 94): [82219],
 (249, 648): [51803],
 (269, 331): [6157],
 (235, 429): [49938],
 (606, 716): [93532],
 (55, 94): [18757],
 (528, 840): [52909],
 (922, 279): [65510],
 (101, 268): [37908],
 (11, 28): [64401],
 (50, 634): [33700],
 (5, 374): [89395],
 (751, 454): [55588],
 (202, 897): [4066],
 (276, 392): [52642],
 (43, 399): [84402],
 (188, 748): [53635],
 (288, 241): [10666],
 (181, 277): [30021],
 (1013, 195): [88478],
 (100, 347): [11965],
 (245, 926): [70748],
 (86, 658): [45312],
 (17, 889): [30467],
 (1360, 181): [96632],
 (238, 457): [1013],
 (275, 321): [63373],
 (148, 49): [7081],
 (21, 301): [29697],
 (685, 886): [43822],
 (300, 276): [12925],
 (413, 83): [82441],
 (371, 504): [90903],
 (1313, 334): [99285],
 (452, 495): [87885],
 (971, 585): [72261],
 (129, 900): [71179],
 (78, 417): [78298],
 (9, 382): [51153],
 (318, 496): [47362],
 (357, 342): [48385],
 (855, 59): [92890],
 (161, 43): [30890],
 (237, 768): [9578],
 (551, 303): [87748],
 (419, 847): [62123],
 (518, 41): [69290],
 (172, 621): [24463],
 (95, 222): [13570],
 (285, 138): [4601],
 (1119, 886): [50855],
 (1101, 144): [70282],
 (271, 75): [79374],
 (204, 94): [25908],
 (151, 545): [42673],
 (651, 537): [26394],
 (70, 563): [3178],
 (273, 851): [65735],
 (609, 887): [50946],
 (655, 102): [472],
 (904, 90): [71883],
 (482, 442): [64261],
 (544, 417): [86435],
 (265, 554): [34825],
 (302, 401): [6508],
 (1118, 655): [3003],
 (87, 721): [67927],
 (1311, 314): [98971],
 (1053, 224): [51492],
 (758, 366): [84250],
 (170, 271): [72288],
 (541, 268): [78346],
 (246, 50): [46802],
 (118, 21): [12524],
 (50, 361): [33521],
 (322, 450): [8122],
 (195, 848): [25507],
 (269, 201): [6058],
 (202, 188): [3887],
 (1585, 655): [99788],
 (1470, 411): [98955],
 (294, 650): [19207],
 (174, 830): [34564],
 (1080, 49): [99310],
 (213, 796): [58365],
 (732, 764): [32418],
 (144, 893): [30707],
 (17, 1): [30402],
 (326, 21): [73864],
 (268, 276): [47660],
 (1084, 504): [95740],
 (1313, 466): [99288],
 (473, 624): [58069],
 (240, 805): [39699],
 (322, 546): [8148],
 (173, 271): [5552],
 (763, 595): [49457],
 (710, 62): [50950],
 (288, 683): [10986],
 (170, 617): [72354],
 (311, 129): [58127],
 (1037, 159): [86871],
 (463, 506): [74606],
 (193, 738): [53791],
 (165, 588): [72904],
 (405, 445): [19968],
 (723, 174): [41286],
 (1016, 164): [13934],
 (444, 405): [95318],
 (582, 151): [71940],
 (31, 151): [11343],
 (197, 187): [48860],
 (1119, 436): [50829],
 (1, 320): [50412],
 (755, 705): [83737],
 (607, 608): [93691],
 (222, 518): [23296],
 (116, 13): [4361],
 (1013, 825): [88496],
 (462, 49): [64632],
 (335, 813): [96237],
 (690, 364): [72123],
 (136, 766): [75457],
 (1354, 199): [96583],
 (215, 331): [46107],
 (948, 916): [23506],
 (1047, 168): [42239],
 (127, 655): [32953],
 (185, 908): [58906],
 (404, 234): [80599],
 (210, 201): [31447],
 (708, 344): [51426],
 (175, 773): [28832],
 (489, 6): [77581],
 (567, 7): [91190],
 (175, 327): [28745],
 (242, 758): [101],
 (258, 627): [17683],
 (228, 933): [32274],
 (689, 445): [18317],
 (50, 753): [33780],
 (1286, 450): [74551],
 (1145, 276): [88948],
 (594, 498): [97819],
 (209, 16): [33939],
 (82, 286): [48553],
 (449, 545): [27997],
 (820, 592): [18100],
 (769, 406): [91295],
 (845, 131): [5913],
 (596, 130): [13447],
 (100, 462): [12038],
 (928, 561): [88417],
 (485, 308): [63566],
 (983, 21): [7316],
 (252, 1): [56748],
 (328, 753): [54743],
 (1424, 405): [98067],
 (275, 458): [63417],
 (480, 924): [72744],
 (219, 377): [85041],
 (521, 311): [46271],
 (85, 336): [26981],
 (161, 416): [30950],
 (237, 117): [9363],
 (642, 334): [64836],
 (743, 92): [37482],
 (13, 548): [5324],
 (1295, 409): [95980],
 (218, 290): [66840],
 (520, 328): [76201],
 (93, 144): [65180],
 (778, 640): [71440],
 (84, 399): [91714],
 (1209, 92): [43836],
 (83, 387): [67072],
 (381, 807): [390],
 (644, 233): [66690],
 (222, 501): [23298],
 (367, 756): [27889],
 (411, 70): [4848],
 (969, 592): [65117],
 (436, 435): [78719],
 (1547, 405): [99768],
 (443, 617): [65005],
 (62, 301): [33187],
 (302, 284): [6400],
 (175, 22): [28659],
 (929, 630): [82407],
 (192, 207): [66737],
 (537, 805): [45643],
 (64, 145): [46958],
 (304, 640): [75953],
 (89, 322): [31855],
 (679, 567): [64152],
 (993, 276): [58194],
 (739, 280): [44246],
 (135, 533): [41463],
 (227, 716): [21131],
 (121, 81): [14698],
 (809, 269): [87945],
 (896, 883): [98124],
 (474, 867): [56548],
 (499, 716): [75596],
 (409, 244): [36311],
 (28, 538): [53085],
 (692, 561): [2574],
 (14, 605): [70049],
 (685, 472): [43755],
 (383, 379): [53946],
 (303, 592): [15415],
 (597, 764): [73567],
 (154, 90): [24846],
 (233, 425): [34964],
 (505, 716): [74180],
 (288, 806): [11038],
 (219, 586): [85070],
 (735, 514): [54253],
 (546, 872): [11752],
 (666, 7): [97805],
 (371, 311): [90885],
 (408, 299): [73108],
 (318, 786): [47451],
 (382, 405): [4522],
 (737, 122): [81391],
 (663, 342): [1178],
 (225, 334): [11151],
 (211, 271): [28482],
 (1376, 551): [91225],
 (91, 293): [56979],
 (269, 699): [6278],
 (77, 330): [19712],
 (222, 653): [23344],
 (116, 144): [4385],
 (483, 655): [59509],
 (727, 496): [86059],
 (305, 327): [70995],
 (879, 309): [85719],
 (291, 308): [16739],
 (902, 276): [97651],
 (90, 870): [38740],
 (1049, 393): [83629],
 (76, 405): [70200],
 (385, 344): [7546],
 (102, 234): [92972],
 (152, 125): [56896],
 (410, 829): [44993],
 (530, 878): [60519],
 (696, 634): [67225],
 (327, 548): [10556],
 (608, 326): [93060],
 (475, 449): [41029],
 (993, 668): [58233],
 (82, 200): [48554],
 (449, 702): [28012],
 (693, 339): [86703],
 (294, 262): [18939],
 (333, 356): [8457],
 (100, 113): [11868],
 (137, 457): [66227],
 (176, 417): [22945],
 (86, 932): [45348],
 (1232, 378): [88574],
 (402, 927): [63851],
 (388, 222): [89505],
 (233, 545): [34975],
 (293, 327): [76331],
 (605, 60): [78525],
 (756, 907): [35560],
 (226, 682): [12868],
 (99, 392): [59152],
 (597, 393): [73490],
 (318, 234): [47213],
 (484, 758): [61322],
 (583, 682): [85265],
 (288, 73): [10731],
 (237, 490): [9466],
 (44, 311): [10026],
 (592, 7): [91744],
 (117, 564): [10302],
 (887, 80): [18176],
 (105, 648): [27431],
 (665, 255): [26489],
 (255, 666): [43159],
 (716, 152): [48112],
 (740, 634): [95940],
 (331, 250): [19550],
 (723, 716): [41308],
 (151, 847): [42760],
 (423, 554): [61539],
 (31, 757): [11429],
 (303, 112): [15344],
 (490, 553): [69150],
 (363, 301): [83573],
 (273, 69): [65584],
 (259, 502): [67411],
 (614, 934): [92113],
 (902, 668): [97676],
 (305, 628): [71024],
 (127, 301): [32684],
 (164, 313): [40315],
 (754, 521): [14582],
 (62, 600): [33261],
 (959, 682): [44619],
 (302, 171): [6449],
 (507, 763): [58473],
 (182, 653): [68192],
 (1134, 90): [78858],
 (258, 213): [17398],
 (403, 804): [22499],
 (207, 234): [71726],
 (283, 266): [78990],
 (654, 303): [66309],
 (527, 551): [49171],
 (417, 892): [81282],
 (332, 762): [15577],
 (294, 8): [18923],
 (435, 503): [22723],
 (993, 417): [58219],
 (1385, 871): [19538],
 (248, 360): [75757],
 (121, 222): [14714],
 (68, 435): [35180],
 (213, 566): [58339],
 (291, 445): [16792],
 (515, 116): [26810],
 (1234, 863): [98879],
 (430, 522): [31396],
 (983, 699): [7324],
 (101, 307): [37912],
 (141, 394): [84454],
 (14, 936): [70104],
 (480, 58): [72597],
 (1095, 262): [50867],
 (763, 889): [49494],
 (286, 296): [1925],
 (514, 87): [60282],
 (399, 715): [21521],
 (168, 391): [25670],
 (477, 387): [17285],
 (371, 128): [90873],
 (281, 168): [7349],
 (154, 934): [24997],
 (484, 481): [61289],
 (230, 197): [24653],
 (167, 749): [27353],
 (110, 543): [6370],
 (864, 15): [59267],
 (911, 683): [98814],
 (663, 747): [1229],
 (133, 556): [60206],
 (98, 843): [16041],
 (172, 70): [24300],
 (105, 125): [27401],
 (250, 894): [7046],
 (458, 919): [46656],
 (183, 326): [35825],
 (153, 279): [4996],
 (483, 568): [59490],
 (102, 786): [93014],
 (12, 622): [18656],
 (508, 221): [39410],
 (879, 446): [85741],
 (58, 156): [52313],
 (298, 655): [17989],
 (727, 405): [86049],
 (210, 435): [31582],
 (270, 489): [78457],
 (760, 116): [84205],
 (475, 829): [41124],
 (475, 57): [40933],
 (1074, 579): [40829],
 (1314, 178): [97292],
 (11, 447): [64489],
 (289, 871): [71703],
 (4, 716): [32621],
 (43, 110): [84394],
 (449, 267): [27939],
 (216, 554): [28216],
 (68, 715): [35219],
 (845, 429): [5950],
 (294, 189): [18916],
 (591, 697): [8747],
 (250, 922): [7054],
 (1299, 312): [99365],
 (358, 820): [24013],
 (252, 303): [56721],
 (750, 26): [97447],
 (402, 18): [63725],
 (111, 484): [1388],
 (169, 805): [49348],
 (1646, 828): [99941],
 (632, 693): [85662],
 (282, 716): [64029],
 (7, 745): [37002],
 (321, 98): [76568],
 (88, 659): [54116],
 (434, 387): [92743],
 (307, 179): [93140],
 (473, 95): [57997],
 (293, 460): [76361],
 (611, 321): [93928],
 (332, 294): [15480],
 (1276, 851): [97123],
 (597, 286): [73405],
 (191, 493): [40092],
 (1245, 893): [96873],
 (161, 586): [30992],
 (313, 631): [56100],
 (538, 863): [77214],
 (1182, 417): [80482],
 (652, 660): [36568],
 (285, 745): [4716],
 (640, 536): [80893],
 (792, 707): [35102],
 (317, 184): [49541],
 (672, 425): [91073],
 (377, 405): [20415],
 (250, 141): [6920],
 (917, 179): [94437],
 (1, 703): [50604],
 (273, 178): [65557],
 (393, 804): [282],
 (501, 60): [76984],
 (969, 330): [65096],
 (496, 660): [57918],
 (23, 123): [59958],
 (376, 330): [20432],
 (302, 54): [6423],
 (69, 233): [41897],
 (809, 290): [87937],
 (258, 40): [17513],
 (25, 339): [1669],
 (64, 487): [47085],
 (1445, 405): [92969],
 (126, 357): [50129],
 (435, 576): [22739],
 (511, 469): [20931],
 (603, 338): [60599],
 (559, 379): [42860],
 (121, 363): [14835],
 (144, 478): [30606],
 (54, 881): [38476],
 (1034, 851): [84102],
 (257, 145): [3462],
 (282, 324): [63939],
 (28, 864): [53171],
 (840, 294): [27217],
 (125, 292): [62980],
 (328, 26): [54545],
 (187, 193): [26595],
 (480, 437): [72658],
 (7, 474): [36899],
 (286, 151): [1913],
 (294, 441): [19115],
 (950, 174): [42356],
 (823, 84): [91443],
 (491, 727): [77571],
 (129, 72): [71067],
 (521, 862): [46346],
 (498, 297): [57642],
 (371, 13): [90870],
 (1136, 455): [50726],
 (343, 435): [54858],
 (237, 588): [9502],
 (186, 506): [21698],
 (1483, 683): [97649],
 (797, 682): [95549],
 (564, 715): [89757],
 (483, 496): [59467],
 (324, 268): [38031],
 (609, 401): [50913],
 (552, 551): [81181],
 (665, 328): [26492],
 (423, 72): [61380],
 (280, 234): [82594],
 (190, 429): [68764],
 (160, 896): [73675],
 (12, 737): [18681],
 (133, 848): [60251],
 (381, 478): [360],
 (6, 486): [95671],
 (95, 592): [13674],
 (256, 363): [96312],
 (358, 560): [23963],
 (588, 471): [7790],
 (1074, 758): [40841],
 (228, 454): [32151],
 (265, 84): [34719],
 (530, 600): [60504],
 (403, 450): [22429],
 (262, 635): [86981],
 (720, 293): [84689],
 (322, 142): [8054],
 (216, 437): [28183],
 (949, 222): [49765],
 (368, 336): [90239],
 (294, 40): [19042],
 (1011, 518): [87686],
 (460, 256): [77641],
 (333, 526): [8506],
 (227, 23): [21057],
 (264, 107): [88793],
 (137, 227): [66194],
 (47, 864): [76836],
 (506, 450): [76049],
 (144, 705): [30664],
 (252, 674): [56834],
 (289, 424): [71571],
 (1232, 96): [88570],
 (56, 397): [16264],
 (595, 551): [14643],
 (282, 595): [64001],
 (88, 798): [54143],
 (473, 804): [58089],
 (286, 906): [2313],
 (288, 351): [10804],
 (735, 85): [54200],
 (147, 532): [20255],
 (350, 13): [95559],
 (387, 5): [79130],
 (154, 312): [24881],
 (652, 527): [36558],
 (193, 342): [53730],
 (306, 79): [804],
 (1521, 416): [99647],
 (255, 432): [43110],
 (792, 846): [35108],
 (98, 493): [15913],
 (596, 348): [13472],
 (197, 503): [48945],
 (236, 291): [89866],
 (273, 303): [65542],
 (183, 804): [35975],
 (886, 493): [40880],
 (1151, 435): [96588],
 (736, 454): [86265],
 (496, 527): [57884],
 (687, 357): [21366],
 (512, 855): [69519],
 (69, 94): [41869],
 (272, 240): [71218],
 (182, 407): [68130],
 (238, 847): [1110],
 (258, 447): [17582],
 (1012, 162): [53842],
 (64, 370): [47048],
 (30, 747): [90526],
 (253, 770): [95725],
 (163, 102): [29308],
 (993, 203): [58210],
 (22, 447): [39088],
 (82, 106): [48633],
 (135, 244): [41312],
 (301, 140): [43903],
 (1048, 935): [43011],
 (1073, 308): [65304],
 (831, 524): [82969],
 (395, 472): [89206],
 (289, 701): [71642],
 (201, 409): [29827],
 (646, 659): [93308],
 (480, 704): [72707],
 (925, 663): [7957],
 (7, 79): [36797],
 (301, 523): [43972],
 (233, 8): [34923],
 (286, 2): [1960],
 (423, 823): [61615],
 (762, 537): [5458],
 (9, 447): [51176],
 (281, 386): [7385],
 (357, 407): [48407],
 (931, 472): [79625],
 (509, 828): [37672],
 (147, 297): [20189],
 (419, 524): [62061],
 (270, 181): [78388],
 (495, 505): [76939],
 (578, 543): [83108],
 (299, 34): [13363],
 (502, 559): [22581],
 (472, 622): [77353],
 (197, 655): [48981],
 (128, 394): [20472],
 (538, 589): [77194],
 (741, 66): [66638],
 (63, 42): [84264],
 (568, 210): [15101],
 (229, 830): [29282],
 (1020, 31): [92506],
 (12, 788): [18688],
 (531, 764): [77890],
 (298, 121): [17882],
 (708, 940): [51489],
 (178, 659): [59046],
 (655, 167): [468],
 (323, 454): [55061],
 (588, 330): [7758],
 (627, 276): [90257],
 (1089, 624): [88608],
 (195, 627): [25435],
 (189, 497): [69567],
 (687, 630): [21388],
 (402, 110): [63716],
 (302, 720): [6614],
 (1118, 846): [3013],
 (87, 406): [67877],
 (156, 109): [47546],
 (873, 517): [85532],
 (322, 261): [8085],
 (216, 256): [28096],
 (626, 405): [91965],
 (511, 843): [20990],
 (591, 919): [8785],
 (118, 292): [12482],
 (1018, 381): [73382],
 (928, 109): [88383],
 (86, 325): [45253],
 (56, 280): [16199],
 (294, 69): [18977],
 (260, 551): [87382],
 (118, 42): [12481],
 (155, 92): [36600],
 (448, 450): [67783],
 (231, 457): [27682],
 (692, 877): [2620],
 (14, 401): [70002],
 (53, 693): [8332],
 (300, 710): [13228],
 (173, 592): [5712],
 (9, 567): [51214],
 (191, 795): [40181],
 (286, 881): [2304],
 (514, 524): [60379],
 (71, 305): [9679],
 (518, 766): [69347],
 (313, 905): [56196],
 (117, 403): [10236],
 (154, 399): [24902],
 (319, 530): [89630],
 (433, 380): [21256],
 (179, 880): [38342],
 (509, 457): [37629],
 (520, 788): [76269],
 (204, 741): [26136],
 (98, 352): [15852],
 (1025, 809): [69112],
 (109, 672): [29497],
 (386, 221): [23602],
 (192, 276): [66722],
 (12, 7): [18477],
 (181, 151): [29957],
 (508, 758): [39536],
 (58, 325): [52319],
 (97, 425): [37338],
 (150, 157): [89023],
 (23, 897): [60090],
 (157, 655): [37778],
 (249, 726): [51814],
 (323, 699): [55128],
 (825, 294): [88034],
 (182, 226): [68094],
 (55, 16): [18767],
 (936, 770): [94657],
 (258, 306): [17468],
 (576, 313): [83455],
 (302, 414): [6532],
 (304, 92): [75865],
 (1445, 655): [92971],
 (327, 880): [10621],
 (827, 104): [78164],
 (96, 222): [21834],
 (647, 189): [67623],
 (813, 85): [89278],
 (873, 506): [85529],
 (121, 637): [14959],
 (174, 497): [34429],
 (749, 15): [73328],
 (234, 292): [51860],
 (732, 43): [32309],
 (474, 343): [56450],
 (257, 507): [3601],
 (1382, 181): [97043],
 (794, 642): [91258],
 (928, 880): [88452],
 (506, 868): [76086],
 (358, 717): [23985],
 (328, 816): [54767],
 (238, 279): [916],
 (111, 15): [1308],
 (42, 514): [43413],
 (7, 192): [36768],
 (300, 334): [13052],
 (67, 109): [714],
 (233, 885): [35024],
 (159, 389): [18403],
 (219, 422): [85052],
 (1305, 167): [91700],
 (648, 766): [23562],
 (9, 292): [51054],
 (318, 318): [47302],
 (191, 52): [39996],
 (855, 13): [92892],
 (1136, 749): [50738],
 (1249, 450): [99235],
 (147, 178): [20162],
 (186, 660): [21733],
 (117, 864): [10415],
 (275, 734): [63496],
 (490, 524): [69148],
 (299, 920): [13414],
 (204, 16): [25934],
 (665, 546): [26517],
 (151, 763): [42733],
 (8, 379): [2725],
 (815, 592): [35397],
 (303, 428): [15390],
 (33, 152): [65445],
 (342, 130): [98294],
 (109, 397): [29450],
 (185, 325): [58762],
 (95, 846): [13731],
 (298, 236): [17900],
 (192, 615): [66788],
 (65, 239): [53323],
 (708, 535): [51449],
 (549, 533): [63253],
 (588, 253): [7684],
 (959, 870): [44628],
 (265, 334): [34763],
 (87, 555): [67909],
 (221, 533): [74831],
 (477, 533): [17301],

and display the content only of necessary group

In [20]:
short_grouped.get_group(251)

,user_id,movie_id,rating,timestamp,age,occupation,movie_title,release_date
259,196,251,3,881251274,49.0,writer,Shall We Dance? (1996),1997-07-11
260,305,251,5,886321764,23.0,programmer,Shall We Dance? (1996),1997-07-11
261,286,251,5,876521678,27.0,student,Shall We Dance? (1996),1997-07-11
262,303,251,4,879544533,19.0,student,Shall We Dance? (1996),1997-07-11
263,299,251,5,877877434,29.0,doctor,Shall We Dance? (1996),1997-07-11
264,63,251,4,875747514,31.0,marketing,Shall We Dance? (1996),1997-07-11
265,181,251,1,878962052,26.0,executive,Shall We Dance? (1996),1997-07-11
266,293,251,4,888904734,24.0,writer,Shall We Dance? (1996),1997-07-11
267,1,251,4,875071843,24.0,technician,Shall We Dance? (1996),1997-07-11
268,15,251,2,879455541,49.0,educator,Shall We Dance? (1996),1997-07-11
269,296,251,5,884196523,43.0,administrator,Shall We Dance? (1996),1997-07-11
270,270,251,5,876954752,18.0,student,Shall We Dance? (1996),1997-07-11
271,144,251,4,888103929,53.0,programmer,Shall We Dance? (1996),1997-07-11
272,131,251,5,883681723,59.0,administrator,Shall We Dance? (1996),1997-07-11
273,79,251,5,891271545,39.0,administrator,Shall We Dance? (1996),1997-07-11
274,2,251,5,888552084,53.0,other,Shall We Dance? (1996),1997-07-11
275,310,251,5,879436035,37.0,educator,Shall We Dance? (1996),1997-07-11
276,209,251,5,883417810,33.0,educator,Shall We Dance? (1996),1997-07-11
277,247,251,4,893081395,28.0,engineer,Shall We Dance? (1996),1997-07-11
278,132,251,4,891278996,24.0,other,Shall We Dance? (1996),1997-07-11
279,342,251,5,875318267,25.0,other,Shall We Dance? (1996),1997-07-11
280,344,251,5,889814518,30.0,librarian,Shall We Dance? (1996),1997-07-11
281,345,251,5,884994119,28.0,librarian,Shall We Dance? (1996),1997-07-11
282,354,251,5,891216691,29.0,NaN,Shall We Dance? (1996),1997-07-11
283,360,251,5,880354315,51.0,other,Shall We Dance? (1996),1997-07-11
284,379,251,5,885063301,44.0,programmer,Shall We Dance? (1996),1997-07-11
285,385,251,2,879440098,36.0,writer,Shall We Dance? (1996),1997-07-11
286,416,251,5,893213405,20.0,NaN,Shall We Dance? (1996),1997-07-11
287,420,251,5,891357070,53.0,educator,Shall We Dance? (1996),1997-07-11
288,449,251,3,879958603,23.0,librarian,Shall We Dance? (1996),1997-07-11
289,444,251,5,890247385,51.0,lawyer,Shall We Dance? (1996),1997-07-11
290,468,251,4,875280180,28.0,engineer,Shall We Dance? (1996),1997-07-11
291,486,251,5,879874582,NaN,educator,Shall We Dance? (1996),1997-07-11
292,498,251,3,881954219,26.0,writer,Shall We Dance? (1996),1997-07-11
293,499,251,5,882996735,42.0,programmer,Shall We Dance? (1996),1997-07-11
294,532,251,4,888636374,20.0,student,Shall We Dance? (1996),1997-07-11
295,592,251,5,882607955,18.0,student,Shall We Dance? (1996),1997-07-11
296,655,251,3,888984417,50.0,healthcare,Shall We Dance? (1996),1997-07-11
297,707,251,5,880059647,56.0,librarian,Shall We Dance? (1996),1997-07-11
298,756,251,4,875129238,30.0,none,Shall We Dance? (1996),1997-07-11
299,771,251,5,880660087,26.0,student,Shall We Dance? (1996),1997-07-11
300,773,251,3,888538573,20.0,student,Shall We Dance? (1996),1997-07-11
301,782,251,3,891500109,21.0,artist,Shall We Dance? (1996),1997-07-11
302,844,251,4,877381484,22.0,engineer,Shall We Dance? (1996),1997-07-11
303,883,251,5,891692657,49.0,librarian,Shall We Dance? (1996),1997-07-11
304,936,251,4,886832134,24.0,other,Shall We Dance? (1996),1997-07-11

We have just one helpful and powerful option for you! It is `filter()`. For demonstrating how you can use it, let’s select at first new DataFrame by grouping movies by `‘age’` column.

In [21]:
age = movies[['user_id','movie_id','rating','timestamp','age','occupation','movie_title','release_date']]\
            .groupby('age')

for k,v in list(age)[:3]:
# if you want to see more values uncomment row below and comment the previous row
#for key, value in age:
    print k
    print v

7.0
       user_id  movie_id  rating  timestamp  age occupation  \
41          30       242       5  885941156  7.0    student
1992        30       286       5  885941156  7.0        NaN
3523        30       257       4  885941257  7.0    student
4763        30      1007       5  885941156  7.0    student
17506       30       258       5  885941156  7.0    student
19035       30       294       4  875140648  7.0    student
22203       30        29       3  875106638  7.0    student
22293       30       683       3  885941798  7.0    student
22396       30       403       2  875061066  7.0    student
22667       30       435       5  885941156  7.0    student
24343       30       172       4  875060742  7.0    student
27656       30       231       2  875061066  7.0    student
30027       30       181       4  875060217  7.0    student
30761       30         2       3  875061066  7.0    student
30925       30       161       4  875060883  7.0        NaN
31087       30       688       3  885941492  7.0    student
33484       30        50       3  875061066  7.0        NaN
34339       30       174       5  885941156  7.0    student
36820       30         7       4  875140648  7.0    student
40317       30       164       4  875060217  7.0    student
41400       30       135       5  885941156  7.0        NaN
41935       30        69       5  885941156  7.0    student
43088       30       255       4  875059984  7.0    student
48634       30        82       4  875060217  7.0    student
53019       30        28       4  885941321  7.0    student
55562       30       751       3  884310551  7.0    student
55970       30       313       5  885941156  7.0    student
56262       30       315       4  885941412  7.0    student
56767       30       252       3  875140740  7.0    student
67378       30       259       4  875058280  7.0    student
71539       30       289       2  876847817  7.0    student
75898       30       304       4  875988548  7.0    student
76563       30       321       4  875988547  7.0    student
77168       30       538       4  885941798  7.0    student
77830       30       531       5  885941156  7.0    student
77943       30       539       3  885941454  7.0    student
82831       30       892       4  884310496  7.0    student
85338       30       678       2  885942002  7.0    student
85510       30       873       1  875061066  7.0        NaN
88479       30      1013       3  875060334  7.0    student
89582       30       319       4  875060217  7.0    student

                                     movie_title release_date
41                                  Kolya (1996)   1997-01-24
1992                 English Patient, The (1996)   1996-11-15
3523                         Men in Black (1997)   1997-07-04
4763                  Waiting for Guffman (1996)   1997-01-31
17506                             Contact (1997)   1997-07-11
19035                           Liar Liar (1997)   1997-03-21
22203                      Batman Forever (1995)   1995-01-01
22293                          Rocket Man (1997)   1997-01-01
22396                              Batman (1989)   1989-01-01
22667  Butch Cassidy and the Sundance Kid (1969)   1969-01-01
24343            Empire Strikes Back, The (1980)   1980-01-01
27656                      Batman Returns (1992)   1992-01-01
30027                  Return of the Jedi (1983)   1997-03-14
30761                           GoldenEye (1995)   1995-01-01
30925                             Top Gun (1986)   1986-01-01
31087                  Leave It to Beaver (1997)   1997-08-22
33484                           Star Wars (1977)   1977-01-01
34339             Raiders of the Lost Ark (1981)   1981-01-01
36820                      Twelve Monkeys (1995)   1995-01-01
40317                          Abyss, The (1989)   1989-01-01
41400               2001: A Space Odyssey (1968)   1968-01-01
41935                        Forrest Gump (1994)   1994-01-01
43088            My Best Friend's Wedding (1997)   1997-06-20
48634                       Jurassic Park (1993)   1993-01-01
53019                           Apollo 13 (1995)   1995-01-01
55562                 Tomorrow Never Dies (1997)   1997-01-01
55970                             Titanic (1997)   1997-01-01
56262                           Apt Pupil (1998)   1998-10-23
56767      Lost World: Jurassic Park, The (1997)   1997-05-23
67378                George of the Jungle (1997)   1997-01-01
71539                               Evita (1996)   1996-12-25
75898                       Fly Away Home (1996)   1996-09-13
76563                              Mother (1996)   1996-12-25
77168                           Anastasia (1997)   1997-01-01
77830                               Shine (1996)   1996-11-22
77943                          Mouse Hunt (1997)   1997-01-01
82831                             Flubber (1997)   1997-01-01
85338                             Volcano (1997)   1997-04-25
85510                     Picture Perfect (1997)   1997-08-01
88479                            Anaconda (1997)   1997-04-11
89582            Everyone Says I Love You (1996)   1996-12-06
10.0
       user_id  movie_id  rating  timestamp   age occupation  \
215        471       393       5  889827918  10.0    student
2405       471        94       5  889828081  10.0    student
2752       471         8       5  889827881  10.0    student
7790       471       588       1  889827881  10.0    student
9784       471        71       3  889828154  10.0    student
11167      471       225       5  889828026  10.0    student
13486      471       596       1  889827881  10.0    student
13648      471        95       4  889827822  10.0    student
17298      471       477       5  889827918  10.0    student
23719      471       878       4  889827710  10.0    student
24410      471       172       4  889827822  10.0    student
33593      471        50       3  889827757  10.0    student
42644      471       151       2  889828154  10.0    student
45795      471       946       2  889827982  10.0    student
48679      471        82       5  889827822  10.0    student
57260      471       432       1  889827822  10.0    student
57417      471       418       3  889827757  10.0    student
57523      471       465       5  889827822  10.0    student
59172      471        99       2  889827918  10.0    student
65113      471       969       2  889828154  10.0    student
77033      471       501       3  889828027  10.0    student
80654      471       404       2  889827757  10.0    student
81019      471       768       3  889827982  10.0    student
83814      471       420       1  889828027  10.0    student
83879      471       140       5  889827918  10.0    student
84067      471      1219       4  889828026  10.0    student
90293      471       627       1  889827881  10.0    student
93004      471       102       5  889828081  10.0        NaN
95199      471       422       5  889827982  10.0    student

                                         movie_title release_date
215                            Mrs. Doubtfire (1993)   1993-01-01
2405                               Home Alone (1990)   1990-01-01
2752                                     Babe (1995)   1995-01-01
7790                     Beauty and the Beast (1991)   1991-01-01
9784                           Lion King, The (1994)   1994-01-01
11167                          101 Dalmatians (1996)   1996-11-27
13486            Hunchback of Notre Dame, The (1996)   1996-06-21
13648                                 Aladdin (1992)   1992-01-01
17298                                 Matilda (1996)   1996-08-02
23719                          That Darn Cat! (1997)   1997-02-14
24410                Empire Strikes Back, The (1980)   1980-01-01
33593                               Star Wars (1977)   1977-01-01
42644   Willy Wonka and the Chocolate Factory (1971)   1971-01-01
45795                  Fox and the Hound, The (1981)   1981-01-01
48679                           Jurassic Park (1993)   1993-01-01
57260                                Fantasia (1940)   1940-01-01
57417                              Cinderella (1950)   1950-01-01
57523                        Jungle Book, The (1994)   1994-01-01
59172         Snow White and the Seven Dwarfs (1937)   1937-01-01
65113    Winnie the Pooh and the Blustery Day (1968)   1968-01-01
77033                                   Dumbo (1941)   1941-01-01
80654                               Pinocchio (1940)   1940-01-01
81019                                  Casper (1995)   1995-01-01
83814                     Alice in Wonderland (1951)   1951-01-01
83879  Homeward Bound: The Incredible Journey (1993)   1993-01-01
84067                          Goofy Movie, A (1995)   1995-01-01
90293           Robin Hood: Prince of Thieves (1991)   1991-01-01
93004                         Aristocats, The (1970)   1970-01-01
95199         Aladdin and the King of Thieves (1996)   1996-01-01
11.0
       user_id  movie_id  rating  timestamp   age occupation  \
8881       289       742       4  876789463  11.0       none
10197      289       117       4  876789514  11.0       none
13936      289      1016       5  876789843  11.0       none
14811      289       121       3  876789736  11.0       none
17281      289       477       2  876790323  11.0       none
19923      289       405       2  876790576  11.0       none
20210      289       147       3  876789581  11.0       none
23220      289       222       2  876789463  11.0       none
23786      289       455       4  876790464  11.0        NaN
29021      289        24       4  876790292  11.0       none
29441      289       109       3  876789628  11.0       none
29723      289        21       1  876790499  11.0       none
33113      289       926       3  876790611  11.0       none
35368      289       815       3  876789581  11.0        NaN
36822      289         7       4  876789628  11.0       none
42585      289       151       2  876790499  11.0       none
43732      289       685       4  876789373  11.0       none
44908      289       410       2  876790361  11.0       none
50407      289         1       3  876789736  11.0       none
58032      289       473       1  876790576  11.0       none
63039      289       125       2  876789373  11.0       none
63931      289       282       3  876789180  11.0       none
68408      289        15       3  876789581  11.0       none
83590      289       363       3  876790653  11.0       none
87257      289       849       4  876789943  11.0       none
94296      289       254       1  876790734  11.0       none

                                          movie_title release_date
8881                                    Ransom (1996)   1996-11-08
10197                                Rock, The (1996)   1996-06-07
13936                                  Con Air (1997)   1997-06-06
14811                   Independence Day (ID4) (1996)   1996-07-03
17281                                  Matilda (1996)   1996-08-02
19923                      Mission: Impossible (1996)   1996-05-22
20210                 Long Kiss Goodnight, The (1996)   1996-10-05
23220                 Star Trek: First Contact (1996)   1996-11-22
23786               Jackie Chan's First Strike (1996)   1997-01-10
29021                      Rumble in the Bronx (1995)   1996-02-23
29441  Mystery Science Theater 3000: The Movie (1996)   1996-04-19
29723                   Muppet Treasure Island (1996)   1996-02-16
33113                           Down Periscope (1996)   1996-03-01
35368                             One Fine Day (1996)   1996-11-30
36822                           Twelve Monkeys (1995)   1995-01-01
42585    Willy Wonka and the Chocolate Factory (1971)   1971-01-01
43732                       Executive Decision (1996)   1996-03-09
44908                                  Kingpin (1996)   1996-07-12
50407                                Toy Story (1995)   1995-01-01
58032                James and the Giant Peach (1996)   1996-04-12
63039                               Phenomenon (1996)   1996-06-29
63931                          Time to Kill, A (1996)   1996-07-13
68408                       Mr. Holland's Opus (1995)   1996-01-29
83590                             Sudden Death (1995)   1995-01-01
87257                          Days of Thunder (1990)   1990-01-01
94296                           Batman & Robin (1997)   1997-06-20

Suppose you need remain only those groups where there are less than 100 items. Sure, you may hardly calculate amount of items in each group and then remove not satisfying for condition. But it can be done very easily.

In [22]:
age.filter(lambda x: len(x) < 100).head(10)

,user_id,movie_id,rating,timestamp,age,occupation,movie_title,release_date
28,131,242,5,883681723,59.0,administrator,Kolya (1996),1997-01-24
41,30,242,5,885941156,7.0,student,Kolya (1996),1997-01-24
69,520,242,5,885168819,62.0,healthcare,Kolya (1996),1997-01-24
108,845,242,4,885409493,64.0,doctor,Kolya (1996),1997-01-24
215,471,393,5,889827918,10.0,student,Mrs. Doubtfire (1993),1993-01-01
220,481,393,3,885829045,73.0,retired,Mrs. Doubtfire (1993),1993-01-01
391,819,381,4,884105841,59.0,administrator,Muriel's Wedding (1994),1994-01-01
422,131,251,5,883681723,59.0,administrator,Shall We Dance? (1996),1997-07-11
871,845,306,2,885409374,64.0,doctor,"Mrs. Brown (Her Majesty, Mrs. Brown) (1997)",1997-01-01
1022,481,238,4,885828245,73.0,retired,Raising Arizona (1987),1987-01-01

One more example:

In [46]:
# get groups with sum of 'movie_id' between 400 and 10000
age.filter(lambda x: x['movie_id'].sum() > 4000 and x['movie_id'].sum() < 10000)

,user_id,movie_id,rating,timestamp,age,occupation,movie_title,release_date
8881,289,742,4,876789463,11.0,none,Ransom (1996),1996-11-08
10197,289,117,4,876789514,11.0,none,"Rock, The (1996)",1996-06-07
13936,289,1016,5,876789843,11.0,none,Con Air (1997),1997-06-06
14811,289,121,3,876789736,11.0,none,Independence Day (ID4) (1996),1996-07-03
17281,289,477,2,876790323,11.0,none,Matilda (1996),1996-08-02
19923,289,405,2,876790576,11.0,none,Mission: Impossible (1996),1996-05-22
20210,289,147,3,876789581,11.0,none,"Long Kiss Goodnight, The (1996)",1996-10-05
23220,289,222,2,876789463,11.0,none,Star Trek: First Contact (1996),1996-11-22
23786,289,455,4,876790464,11.0,NaN,Jackie Chan's First Strike (1996),1997-01-10
29021,289,24,4,876790292,11.0,none,Rumble in the Bronx (1995),1996-02-23
29441,289,109,3,876789628,11.0,none,Mystery Science Theater 3000: The Movie (1996),1996-04-19
29723,289,21,1,876790499,11.0,none,Muppet Treasure Island (1996),1996-02-16
33113,289,926,3,876790611,11.0,none,Down Periscope (1996),1996-03-01
35368,289,815,3,876789581,11.0,NaN,One Fine Day (1996),1996-11-30
36822,289,7,4,876789628,11.0,none,Twelve Monkeys (1995),1995-01-01
42585,289,151,2,876790499,11.0,none,Willy Wonka and the Chocolate Factory (1971),1971-01-01
43732,289,685,4,876789373,11.0,none,Executive Decision (1996),1996-03-09
44908,289,410,2,876790361,11.0,none,Kingpin (1996),1996-07-12
50407,289,1,3,876789736,11.0,none,Toy Story (1995),1995-01-01
58032,289,473,1,876790576,11.0,none,James and the Giant Peach (1996),1996-04-12
63039,289,125,2,876789373,11.0,none,Phenomenon (1996),1996-06-29
63931,289,282,3,876789180,11.0,none,"Time to Kill, A (1996)",1996-07-13
68408,289,15,3,876789581,11.0,none,Mr. Holland's Opus (1995),1996-01-29
83590,289,363,3,876790653,11.0,none,Sudden Death (1995),1995-01-01
87257,289,849,4,876789943,11.0,none,Days of Thunder (1990),1990-01-01
94296,289,254,1,876790734,11.0,none,Batman & Robin (1997),1997-06-20

### Aggregation and function application

[[back to top]](#Table-of-Contents)

We have seen previously, pandas allows to apply any function to a Series or to a DataFrame. Grouping is not an exception and you may use the same method `apply()` directly with `GroupBy` objects. Suppose, you need to find for each `age` minimal and maximal values of `movie_id` and determine also rows, where they are. It can be done easily in such way:

In [24]:
# let's create a function that calculate min, max values and indexes of these values
def get_min_max(x):
    return {'min': x.min(), 'min_index': x.idxmin(),'max': x.max(), 'max_index': x.idxmax()}
# and apply this function to 'age' column of short_dated DataFrame
short_dated['age'].groupby(short_dated['movie_id']).apply(get_min_max)

movie_id
242       max                 70.0
          max_index    891462614.0
          min                  7.0
          min_index    885941156.0
251       max                 59.0
          max_index    883681723.0
          min                 18.0
          min_index    876954752.0
381       max                 70.0
          max_index    885990998.0
          min                 13.0
          min_index    880174808.0
393       max                 70.0
          max_index    885991129.0
          min                 13.0
          min_index    880174926.0
655       max                 60.0
          max_index    892333616.0
          min                 19.0
          min_index    879483568.0
dtype: float64

We wrote of the function to return just a dictionary, an ulterior motive. Method `unstuck()` allows to represent this result in more intuitive view (it like transposes the interior matrix):

In [25]:
short_dated['age'].groupby(short_dated['movie_id']).apply(get_min_max).unstack()

           max    max_index   min    min_index
movie_id
242       70.0  891462614.0   7.0  885941156.0
251       59.0  883681723.0  18.0  876954752.0
381       70.0  885990998.0  13.0  880174808.0
393       70.0  885991129.0  13.0  880174926.0
655       60.0  892333616.0  19.0  879483568.0

But the mentioned above recipe is not a single one. There are provided in pandas more flexible ways for application of your own functions to a Series or to a DataFrame. An obvious one is aggregation via the `aggregate()` or equivalently `agg()` method

In [26]:
movies_grouped.agg(np.sum).head(10)
# or state_grouped.aggregate(np.sum)

,user_id,rating,timestamp,age,unknown,Action,Adventure,Animation,Childrens,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movie_id,,,,,,,,,,,,,,,,,,,,,
1,215609,1753,399028021059,13419.0,0,0,0,452,452,452,...,0,0,0,0,0,0,0,0,0,0
2,64453,420,115727673079,3526.0,0,131,131,0,0,0,...,0,0,0,0,0,0,0,131,0,0
3,41322,273,79400420109,2168.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,90,0,0
4,98125,742,184487964275,6573.0,0,209,0,0,0,209,...,0,0,0,0,0,0,0,0,0,0
5,37786,284,75902581757,2453.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,86,0,0
6,11819,93,22968466745,894.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,174585,1489,345926648221,11165.0,0,0,0,0,0,0,...,0,0,0,0,0,0,392,0,0,0
8,99574,875,193431714253,6883.0,0,0,0,0,219,219,...,0,0,0,0,0,0,0,0,0,0
9,137636,1165,263909983760,9792.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,40069,341,78556407374,3189.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,89,0

Sure, above variant is equivalent to `state_grouped.sum()`.
One of the advantages of `agg()` method is the possibility of application of many functions to one and same dataset at once

In [27]:
# at first let's write the function which returns amount of notnull values 
def count_not_null(x):
    return len([i for i in x if pd.notnull(i)])
movies_grouped['age'].agg([np.sum, count_not_null, np.mean]).head(10)

              sum  count_not_null       mean
movie_id
1         13419.0           417.0  32.179856
2          3526.0           120.0  29.383333
3          2168.0            82.0  26.439024
4          6573.0           201.0  32.701493
5          2453.0            82.0  29.914634
6           894.0            25.0  35.760000
7         11165.0           365.0  30.589041
8          6883.0           208.0  33.091346
9          9792.0           279.0  35.096774
10         3189.0            82.0  38.890244

We are fully agree with you, names of the central column is not a good and too long. No problem, let’s rename it (and the last column too at once)

In [28]:
movies_grouped['age'].agg({'sum': np.sum, 'amount': count_not_null, 'avg': np.mean}).head(10)

              sum        avg  amount
movie_id
1         13419.0  32.179856   417.0
2          3526.0  29.383333   120.0
3          2168.0  26.439024    82.0
4          6573.0  32.701493   201.0
5          2453.0  29.914634    82.0
6           894.0  35.760000    25.0
7         11165.0  30.589041   365.0
8          6883.0  33.091346   208.0
9          9792.0  35.096774   279.0
10         3189.0  38.890244    82.0

Sure, you may apply many functions to whole DataFrame at once

In [29]:
movies_grouped.agg([np.sum, count_not_null, np.mean]).head(10)

         user_id                            rating                           \
             sum count_not_null        mean    sum count_not_null      mean
movie_id
1         215609            452  477.011062   1753            452  3.878319
2          64453            131  492.007634    420            131  3.206107
3          41322             90  459.133333    273             90  3.033333
4          98125            209  469.497608    742            209  3.550239
5          37786             86  439.372093    284             86  3.302326
6          11819             26  454.576923     93             26  3.576923
7         174585            392  445.369898   1489            392  3.798469
8          99574            219  454.675799    875            219  3.995434
9         137636            299  460.321070   1165            299  3.896321
10         40069             89  450.213483    341             89  3.831461

             timestamp                                age ...  Sci-Fi  \
                   sum count_not_null       mean      sum ...    mean
movie_id                                                  ...
1         399028021059            452  882805356  13419.0 ...       0
2         115727673079            131  883417351   3526.0 ...       0
3          79400420109             90  882226890   2168.0 ...       0
4         184487964275            209  882717532   6573.0 ...       0
5          75902581757             86  882588159   2453.0 ...       0
6          22968466745             26  883402567    894.0 ...       0
7         345926648221            392  882465939  11165.0 ...       1
8         193431714253            219  883249836   6883.0 ...       0
9         263909983760            299  882642086   9792.0 ...       0
10         78556407374             89  882656262   3189.0 ...       0

         Thriller                     War                     Western  \
              sum count_not_null mean sum count_not_null mean     sum
movie_id
1               0            452    0   0            452    0       0
2             131            131    1   0            131    0       0
3              90             90    1   0             90    0       0
4               0            209    0   0            209    0       0
5              86             86    1   0             86    0       0
6               0             26    0   0             26    0       0
7               0            392    0   0            392    0       0
8               0            219    0   0            219    0       0
9               0            299    0   0            299    0       0
10              0             89    0  89             89    1       0


         count_not_null mean
movie_id
1                   452    0
2                   131    0
3                    90    0
4                   209    0
5                    86    0
6                    26    0
7                   392    0
8                   219    0
9                   299    0
10                   89    0

[10 rows x 69 columns]

However, you could not rename columns as above, because `agg()` method allows to apply of one or more functions to different columns – it is just one advantage of this method

In [30]:
movies_grouped.agg({ 'user_id': np.sum, 
                     'age': {'amount': count_not_null},  
                     'rating': np.mean,                  
                     'timestamp': [np.min, np.max]}).head(10)

            rating    age user_id  timestamp
              mean amount     sum       amin       amax
movie_id
1         3.878319  417.0  215609  874784615  893264174
2         3.206107  120.0   64453  874778568  893119336
3         3.033333   82.0   41322  874786924  892790676
4         3.550239  201.0   98125  874730179  893265741
5         3.302326   82.0   37786  874792692  893194607
6         3.576923   25.0   11819  875028165  891384357
7         3.798469  365.0  174585  874775185  893264300
8         3.995434  208.0   99574  874785474  893265710
9         3.896321  279.0  137636  874805804  893263994
10        3.831461   82.0   40069  874862734  893264335

Another simple aggregation example is to compute the size of each group. This is included in `GroupBy` as the `size()` method. It returns a Series whose indexes are the group names and whose values are the sizes of each group.

In [31]:
movie_user_id_grouped.size()

movie_id  user_id
1         1          1
          2          1
          5          1
          6          1
          10         1
          13         1
          15         1
          16         1
          17         1
          18         1
          20         1
          21         1
          23         1
          25         1
          26         1
          38         1
          41         1
          42         1
          43         1
          44         1
          45         1
          49         1
          54         1
          56         1
          57         1
          58         1
          59         1
          62         1
          63         1
          64         1
                    ..
1658      894        1
1659      747        1
1660      747        1
1661      751        1
1662      762        1
          782        1
1663      782        1
1664      782        1
          839        1
          870        1
          880        1
1665      782        1
1666      782        1
1667      782        1
1668      782        1
1669      782        1
1670      782        1
1671      787        1
1672      828        1
          896        1
1673      835        1
1674      840        1
1675      851        1
1676      851        1
1677      854        1
1678      863        1
1679      863        1
1680      863        1
1681      896        1
1682      916        1
dtype: int64

>### Exercise 4.1

> - Group `movies` DataFrame by `release_date` and `occupation` (in the same order) and display the obtained `GroupBy` object like we have made before. Let's call this `GroupBy` as `grouped`.

> - In the created in the previous task `GroupBy` object calculate the average value of `age` column for each group. Find the group with maximal average `age` value. If there are a few such group, find all them. Write results all found groups to `groups` pandas DataFrame and the maximal average `age` value to `max_avg_age` variable.

> - Select from the `grouped` rows for `release_date = ‘16-Feb-1996’` and `occupation = ‘student’` using some of learned in this segment recipe of selection.

> - Calculate for `age` column for each group in the `grouped` DataFrame
    * percent of null items; call this column "null"
    * percent of not null items; call this column "not_null"
    * product of all not null items in the column; call this column "product"
    * find the integer part of the fraction of difference between maximal and minimal values divided by the average of not null values in respective group; call this column "ratio".

>   Pay attention that all calculation should be done at the same time without creation additional columns etc. Write results to the `aggr` variable.

In [100]:
# type your code here


# To check the correctness of your answers we are using the "data/movies.csv".
# So, if use have changed the `movies` DataFrame in some way, please read "data/movies.csv" again before continuing.
#movies = pd.read_csv('data/movies.csv')
#movies['release_date'] = movies['release_date'].map(pd.to_datetime)

groupby_data_0 = movies.groupby(['release_date','occupation'])
groupby_data = groupby_data_0.mean().reset_index()
#print groupby_data['age'].max()
#print groupby_data_0.head(5)
max_avg_age = groupby_data['age'].max()

groups = movies[(movies['release_date']=='16-Feb-1996') & (movies['occupation']=='student')]
groups = groups.groupby(['release_date','occupation']).mean().reset_index()
#print groups.head(5)
print groups.head(5)

def count_null(x):
    return len([i for i in x if not pd.notnull(i)])

agg = groupby_data_0['age'].agg({ 'null': count_null, 
                     'not_null': count_not_null,  
                     'product': np.sum,                  
                     'ratio': np.std})
aggr = agg

  release_date occupation     user_id    movie_id    rating     timestamp  \
0   1996-02-16    student  486.519417  355.009709  3.854369  8.820670e+08

         age  unknown    Action  Adventure   ...     Fantasy  Film-Noir  \
0  21.889447      0.0  0.412621   0.087379   ...         0.0        0.0

   Horror   Musical   Mystery   Romance  Sci-Fi  Thriller       War  Western
0     0.0  0.087379  0.038835  0.038835     0.0  0.334951  0.325243      0.0

[1 rows x 26 columns]

In [101]:
from test_helper import Test

Test.assertEqualsHashed(max_avg_age, '3e02e7f62a64ba4e760f0cec0b44b479b974d267', 
                                     'Incorrect value of "max_avg_age"', "Exercise 4.1.1 is successful")
Test.assertEqualsHashed(groups, '71201ef71723a0337ad15e84cc9a86cfd3eeac01', 
                                'Incorrect content of "groups" DataFrame', "Exercise 4.1.2 is successful")
Test.assertEqualsHashed(aggr[['null', 'not_null', 'product',
                          'ratio']], '513ac52cc95c70657b76c0458355f1b45efc14f8', 
                              'Incorrect content of "aggr" DataFrame', "Exercise 4.1.3 is successful")

1 test passed. Exercise 4.1.1 is successful
1 test failed. Incorrect content of "groups" DataFrame
1 test failed. Incorrect content of "aggr" DataFrame

<center><h3>Presented by <a target="_blank" rel="noopener noreferrer nofollow" href="http://datascience-school.com">datascience-school.com</a></h3></center>